<mat-toolbar>
  <img class="toolbar-logo" src="/assets/ccLogoDark.png">
  <div class="toolbar-title">Self-Inspections</div>
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<div class="window">
  <mat-nav-list>
    <mat-list-item *ngFor="let inspection of selfInspections | async" (click)="selectSelfInspection(inspection)">
      <h2 matLine> {{inspection.title}} </h2>
      <p mat-line> {{inspection.createdAt | date: 'longDate'}} </p>
    </mat-list-item>
  </mat-nav-list>
</div>
<button class="fab" mat-mini-fab color="accent"  [ngClass]="{'raise-fab': accountService.isTrialVersion}" (click)="startNewSelfInspection()"><mat-icon>find_replace</mat-icon>New Self-Inspection</button>