#card {
    height: 300px;
    width: 600px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 5px 6px 14px -6px;
    margin: 24px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
}

#name {
    font-size: 32px;
}

#input {
    height: 0px !important;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}

.text {
    font-size: 21px;
    opacity: .87;
}

.left {
    flex: 2;
    position: relative;
}

img.logo {
    height: 40px;
    position: absolute;
    bottom: 0;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#userImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 16px;
    overflow: hidden;
}

#loader {
    position: fixed;
    top: 45%;
    left: 50%;
}