<div class="screen">
  <div class="pt">Compliancechimp Customer Agreement</div>
  <br>Effective: October 30, 2018
  <br>
  <br>This Customer Agreement is made as of the date of your account creation, between You (“you”, “your”, “Customer”) and Betterspace, LLC  (“Compliancechimp”, “Chimp”, “we”). This agreement exists to define the business relationship between us. The table of contents is as follows: 
  <br>
  <br>•Terms of Use and Privacy Policy
  <br>•Free Trial Period
  <br>•Billing Amounts and Procedures
  <br>•Collection of Sales Tax
  <br>•Month to Month Agreement
  <br>•Refund in the Event of Cancellation
  <br>•Assignment
  <br>•Limitation of Liability
  <br>•Contact Information
  <br>
  <br><b>Terms of Use and Privacy Policy</b>
  <br>Please read our Terms of Use and Privacy Policies. Accepting this customer agreement incorporates the acceptance of our Terms of Use and Privacy Policies. 
  <br>
  <br><b>Free Trial Period</b>
  <br>You may use Chimp for 30 calendar days, free of charge. We refer to this as the Free Trial Period. Your use of the Free Trial Period in no way obligates you to continue to use the service beyond the first 30 days. We will not ask for a credit card prior to the expiration of the Free Trial Period; however, you may elect to enter billing details, including a credit card number and relevant details, so that your account is ready to be billed for the first month of paid service upon the expiration of the Free Trial Period. 
  <br>
  <br>If you do not enter payment information at the expiration of the Free Trial Period, your account will only be accessible for the purpose of collecting payment information. Once payment information is successfully collected, and payment for the first month of service has been made, your account will be made fully available. 
  <br>
  <br>If you wish to extend the Free Trial Period for more than 30 days, simply contact us at support@compliancechimp.com with your request. We are not obligated to grant an extended free trial period. 
  <br>
  <br><b>Billing Amounts and Procedures</b>
  <br>The cost for Chimp is $99/month for teams of any size. Like any business, we retain the right to revisit pricing models broadly for any team, and for any reason, over time; however under no circumstance will your price change without you first agreeing to a new customer agreement at a newly defined price. 
  <br>
  <br>All payments are made via credit card, on a recurring basis, on the one month anniversary date of your original account creation, or on the 1st day of the month if your account creation date was the 29th, 30th, or 31st of the month. 
  <br>
  <br>It is your responsibility to provide valid payment information with an expiration date in the future for your account to remain open and active. We will contact you in the event of expired payment details in order to provide new payment details. 
  <br>
  <br><b>Collection of Sales Tax</b>
  <br>Chimp does not collect or remit sales tax. It is your responsibility to pay the associated use taxes in your home state and locality.
  <br>
  <br><b>Month to Month Agreement</b>
  <br>Chimp does not have long term contracts. You pay month to month, as you go. 
  <br>
  <br><b>Refund in the Event of Cancellation</b>
  <br>If you choose to cancel your Chimp account, we will issue a refund to you for the current month (not to exceed $99).   
  <br>
  <br><b>Assignment</b>
  <br>In the event of a merger or acquisition of more than 50% of the ownership of Chimp, all customer agreements will be automatically assigned to the new owner. 
  <br>
  <br><b>Financial Questions or Disputes</b>
  <br>Please direct any questions about billing or disputes to support@compliancechimp.com. 
  <br>
  <br><b>LIMITATION OF LIABILITY</b>
  <br>IN NO EVENT WILL YOU OR WE HAVE ANY LIABILITY TO THE OTHER FOR ANY LOST PROFITS OR REVENUES OR FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING DISCLAIMERS WILL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW AND DO NOT LIMIT EITHER PARTY’S RIGHT TO SEEK AND OBTAIN EQUITABLE RELIEF.
  <br>
  <br>Contact Information
  <br>Compliancechimp
  <br>4595 S. Homestead Ct
  <br>Washington, UT 84780
  <br>Email: support@compliancechimp.com
</div>
<sign-up></sign-up>