<div class="screen">
  <div class="pt">Compliancechimp Customer Agreement</div>
  <br>Effective: December 28, 2018
  <br>
  <br>This Customer Agreement is made as of the date of your account creation, between You (“you”, “your”, “Customer”) and Betterspace, LLC (“Compliancechimp”, “Chimp”, “we”). This agreement exists to define the business relationship between us. The table of contents is as follows:
  <br>
  <br>•Optional paid services
  <br>•Collection of Sales Tax
  <br>•Contracts
  <br>•Refunds
  <br>•Chimp’s right to terminate your account
  <br>•Assignment
  <br>•Financial questions or disputes
  <br>•Limitation of Liability
  <br>•Contact Information
  <br>
  <br><b>Terms of Use and Privacy Policy</b>
  <br>Please read our Terms of Use and Privacy Policies. Accepting this customer agreement incorporates the acceptance of our Terms of Use and Privacy Policies.
  <br>
  <br><b>Optional paid services</b>
  <br>Chimp is free unless you choose to purchase additional services, such as the purchase of a physical printed copy of your compliance activity (Chimp Books). This decision will always be up to you and there is no obligation to purchase optional paid services. Payments for such optional paid services are made in advance, via credit card through our secure card processing partner, Stripe.
  <br>
  <br><b>Collection of Sales Tax</b>
  <br>Chimp does not collect or remit sales tax unless required by law in your state. It is your responsibility to pay the associated use taxes in your home state and locality.
  <br>
  <br><b>Contracts</b>
  <br>Chimp does not have contracts. Use the service as long as it is beneficial to you, which we hope is for infinity.
  <br>
  <br><b>Refunds</b>
  <br>If you are not satisfied with any product you receive, you may return it for a full refund.
  <br>
  <br><b>Chimp’s right to terminate your account</b>
  <br>Although we hope to never do this, we reserve the right to terminate your account for any reason.
  <br>
  <br><b>Assignment</b>
  <br>In the event of a merger or acquisition of more than 50% of the ownership of Chimp, all customer agreements will be automatically assigned to the new owner.
  <br>
  <br><b>Financial Questions or Disputes</b>
  <br>Please direct any questions about billing or disputes to support@compliancechimp.com.
  <br>
  <br><b>LIMITATION OF LIABILITY</b>
  <br>IN NO EVENT WILL YOU OR WE HAVE ANY LIABILITY TO THE OTHER FOR ANY LOST PROFITS OR REVENUES OR FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING DISCLAIMERS WILL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW AND DO NOT LIMIT EITHER PARTY’S RIGHT TO SEEK AND OBTAIN EQUITABLE RELIEF.
  <br>
  <br>Contact Information
  <br>Compliancechimp
  <br>4595 S. Homestead Ct
  <br>Washington, UT 84780
  <br>Email: support@compliancechimp.com
</div>
<sign-up></sign-up>