<div class="screen">
  <div class="pt">Gym Jumper Customer Agreement</div>
  <br>Effective: December 28, 2018
  <br>
  <br>This Customer Agreement is made as of the date of your account creation, between You (“you”, “your”, “Customer”) and Betterspace, LLC (“Gym Jumper”, “Gymjumper”, “we”). This agreement exists to define the business relationship between us. The table of contents is as follows:
  <br>
  <br>•paid services
  <br>•Collection of Sales Tax
  <br>•Contracts
  <br>•Refunds
  <br>•Gymjumper’s right to terminate your account
  <br>•Assignment
  <br>•Financial questions or disputes
  <br>•Limitation of Liability
  <br>•Contact Information
  <br>
  <br><b>Terms of Use and Privacy Policy</b>
  <br>Please read our Terms of Use and Privacy Policies. Accepting this customer agreement incorporates the acceptance of our Terms of Use and Privacy Policies.
  <br>
  <br><b>Collection of Sales Tax</b>
  <br>Gymjumper does not collect or remit sales tax unless required by law in your state. It is your responsibility to pay the associated use taxes in your home state and locality.
  <br>
  <br><b>Refunds</b>
  <br>If you are not satisfied with any product you receive, you may return it for a full refund.
  <br>
  <br><b>Gymjumper’s right to terminate your account</b>
  <br>Although we hope to never do this, we reserve the right to terminate your account for any reason.
  <br>
  <br><b>Assignment</b>
  <br>In the event of a merger or acquisition of more than 50% of the ownership of Gymjumper, all customer agreements will be automatically assigned to the new owner.
  <br>
  <br><b>Financial Questions or Disputes</b>
  <br>Please direct any questions about billing or disputes to support@Gymjumper.com.
  <br>
  <br><b>LIMITATION OF LIABILITY</b>
  <br>IN NO EVENT WILL YOU OR WE HAVE ANY LIABILITY TO THE OTHER FOR ANY LOST PROFITS OR REVENUES OR FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING DISCLAIMERS WILL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW AND DO NOT LIMIT EITHER PARTY’S RIGHT TO SEEK AND OBTAIN EQUITABLE RELIEF.
  <br>
  <br>Contact Information
  <br>GymJumper
  <br>4595 S. Homestead Ct
  <br>Washington, UT 84780
  <br>Email: support@Gymjumper.com
</div>
<sign-up></sign-up>