<div class="footer">
  <div class="content">
    <div class="section hide">
      <label for="why" class="title">Why ComplianceChimp?</label>
      <ul id="why">
        <li><a routerLink="how-it-works">OSHA Compliance</a></li>
        <li><a routerLink="how-it-works">Training Comtent</a></li>
        <li><a routerLink="how-it-works">Team surveys</a></li>
        <li><a routerLink="how-it-works">Self-Inspections</a></li>
        <li><a routerLink="how-it-works">Injury Reporting</a></li>
        <li><a routerLink="how-it-works">Time Clock</a></li>
        <li><a routerLink="how-it-works">Events Log</a></li>
      </ul>
    </div>

    <mat-form-field class="why-dropdown show">
      <mat-select placeholder="Why ComplianceChimp?">
        <mat-option routerLink="how-it-works">OSHA Compliance</mat-option>
        <mat-option routerLink="how-it-works">Training Comtent</mat-option>
        <mat-option routerLink="how-it-works">Team surveys</mat-option>
        <mat-option routerLink="how-it-works">Self-Inspections</mat-option>
        <mat-option routerLink="how-it-works">Injury Reporting</mat-option>
        <mat-option routerLink="how-it-works">Time Clock</mat-option>
        <mat-option routerLink="how-it-works">Events Log</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section about hide">
      <label for="about-us" class="title">Learn About Us</label>
      <ul>
        <li><a routerLink="about">About us</a></li>
        <li><a routerLink="about">Watch our product video</a></li>
        <li><a routerLink="terms-of-use">Terms of Use</a></li>
        <li><a routerLink="privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="customer-agreement">Customer Agreement</a></li>
      </ul>
      <div class="link"></div>
      <div class="link"></div>
      <div style="flex: 2"></div>
    </div>

    <mat-form-field class="why-dropdown show">
      <mat-select placeholder="Learn About Us">
        <mat-option routerLink="about">About Us</mat-option>
        <mat-option routerLink="about">Watch Video</mat-option>
        <mat-option routerLink="terms-of-use">Terms of Use</mat-option>
        <mat-option routerLink="privacy-policy">Privacy Policy</mat-option>
        <mat-option routerLink="customer-agreement">Customer Agreement</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section" style="align-items: flex-end;">
      <div class="contact">
        <label class="title">Contact Us</label>
        <ul>
          <li>4595 S. Homestead Ct.</li>
          <li>Washingtom, UT 84780</li>
          <li></li>
          <li>
            <mat-icon>email</mat-icon>
            support@compliancechimp.com
          </li>
          <li>
              <a  routerLink="support">or visit our Support page</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="bottom">
    <span class="hide">Copyright </span>© 2018 Compliancechimp
    <span class="hide">&nbsp;All rights reserved.</span>
    <div class="usa">
      <div class="flag"></div>
      <span class="hide">Made in the USA</span>
    </div>
  </div>
</div>