<div class="footer">
  <div class="content">
    <div class="section hide">
      <label for="why" class="title">Why Gym Jumper?</label>
      <ul id="why">
        <li><a routerLink="how-it-works">because we are dope.</a></li>
        <li><a routerLink="how-it-works">because we are dope.</a></li>
        <li><a routerLink="how-it-works">because we are dope.</a></li>
        <li><a routerLink="how-it-works">because we are dope.</a></li>
        <li><a routerLink="how-it-works">because we are dope.</a></li>
      </ul>
    </div>

    <mat-form-field class="why-dropdown show">
      <mat-select placeholder="why Gym Jumper?" color="light">
        <mat-option routerLink="how-it-works">We are dope.</mat-option>
        <mat-option routerLink="how-it-works">We are dope.</mat-option>
        <mat-option routerLink="how-it-works">We are dope.</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section about hide">
      <label for="about-us" class="title">Learn About Us</label>
      <ul>
        <li><a routerLink="about">About us</a></li>
        <li><a (click)="appService.watchVideo()">Watch our product video</a></li>
        <li><a routerLink="terms-of-service">Terms of Service</a></li>
        <li><a routerLink="privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="customer-agreement">Customer Agreement</a></li>
      </ul>
      <div class="link"></div>
      <div class="link"></div>
      <div style="flex: 2"></div>
    </div>

    <mat-form-field class="why-dropdown show">
      <mat-select placeholder="learn About Us">
        <mat-option routerLink="about">About Us</mat-option>
        <mat-option (click)="appService.watchVideo()">Watch Video</mat-option>
        <mat-option routerLink="terms-of-use">Terms of Service</mat-option>
        <mat-option routerLink="privacy-policy">Privacy Policy</mat-option>
        <mat-option routerLink="customer-agreement">Customer Agreement</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section" style="align-items: flex-end;">
      <div class="contact">
        <label class="title">Contact Us</label>
        <ul>
          <li>
            <mat-icon>email</mat-icon>
            support@gymjumper.io
          </li>
          <li>
            <mat-icon>phone</mat-icon>
            (435) 680-5606
          </li>
          <li>
            <a  routerLink="support">or visit our Support page</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="bottom">
    <span class="hide">Copyright </span>© 2019 GymJumper
    <span class="hide">&nbsp;All rights reserved.</span>
    <div class="usa">
      <div class="flag"></div>
      <span class="hide">Made in the USA</span>
    </div>
  </div>
</div>