<div class="footer">
  <div class="content">
    <div class="section hide">
      <label for="why" class="title">Why Minute?</label>
      <ul id="why">
        <li><a routerLink="why">OSHA Compliance</a></li>
        <li><a routerLink="why">Worksite logs</a></li>
        <li><a routerLink="why">Team surveys</a></li>
        <li><a routerLink="why">Time and location tracking</a></li>
      </ul>
    </div>

    <mat-form-field class="why-dropdown show">
      <mat-select placeholder="Why Minute?">
        <mat-option routerLink="why">OSHA Compliance</mat-option>
        <mat-option routerLink="why">Worksite logs</mat-option>
        <mat-option routerLink="why">Team surveys</mat-option>
        <mat-option routerLink="why">Time and location tracking</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section about hide">
      <label for="about-us" class="title">Learn About Us</label>
      <ul>
        <li>
          <a  routerLink="about">About us</a>
        </li>
        <li>
          <a  routerLink="about">Watch our product video</a>
        </li>
      </ul>
      <div class="link"></div>
      <div class="link"></div>
      <div style="flex: 2"></div>
    </div>

    <mat-form-field class="why-dropdown show">
      <mat-select placeholder="Learn About Us">
        <mat-option routerLink="about">
          About Us
        </mat-option>
        <mat-option routerLink="about">
          Watch Video
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section" style="align-items: flex-end;">
      <div class="contact">
        <label class="title">Contact Us</label>
        <ul>
          <li>4595 S. Homestead Ct.</li>
          <li>Washingtom, UT 84780</li>
          <li></li>
          <li>
            <mat-icon>phone</mat-icon>
            801.589.1955
          </li>
          <li>
            <mat-icon>email</mat-icon>
            support@minuteteams.com
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="bottom">
    <span class="hide">Copyright </span>© 2018 Minute Teams
    <span class="hide">&nbsp;All rights reserved.</span>
    <div class="usa">
      <div class="flag"></div>
      <span class="hide">Made in the USA</span>
    </div>
  </div>
</div>