.window {
    position: relative;
}

#assesment-window {
    position: absolute;
    height: 100vh;
    z-index: 100;
    background-color: #fafafa;
    top: 0;
    right: 0;
    left: 0;
}

.assesments {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .assesment {
    position: relative;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.14);
  }
  
  .header {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: flex-start;
  }
   
  .category {
    font-size: 13px;
    font-weight: 500;
  }
  
  .title {
    text-align: center;
    margin: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    opacity: .87;
  }
  
  .body {
    padding: 12px;
    flex: 1;
    display: flex;
    align-items: center;
  }

.panel {
    padding: 24px;
    height: calc(100vh - 64px);
    overflow: scroll;
    box-sizing: border-box;
}

.i-item {
      height: auto !important;
}

.radio-button {
      margin-right: 12px;
}

.q-title {
    white-space: unset !important;
    margin-top: 12px !important;
}

.ml {
    margin-left: 8px;
}

.images {
    height: 250px;
    margin: 4px;
    object-fit: contain;
}