<div class="p v">
  <div class="pt">We're available.</div>
  <div class="info">We hope compliancechimp is so intuitive, user friendly and bug free, 
      that you never need to talk to us. But, we’re super friendly and here to help or hear 
      your feedback or suggestions. Visit the box below and you’ll hear back from one of us, right away.
  </div>
  <div id="box">
    <div class="info">Email support@compliancechimp.com, or enter details in this form, and one of us will get back to you speedily.</div>
    <mat-form-field id="body" appearance="fill" color="accent">
      <textarea matInput [(ngModel)]="body" placeholder="explain how we can help"></textarea>
    </mat-form-field>
    <mat-form-field id="email" appearance="fill" color="accent">
      <input matInput [(ngModel)]="email" placeholder="enter your email address">
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button style="color:#ffffff;border-radius:20px" color="accent">SUBMIT</button>
    </div>
  </div>
</div>
<div class="border"></div>
<sign-up></sign-up>