@import "~@angular/material/theming";
// Plus imports for other components in your app.
$my-blue: (
  50: #e1eaf1,
  100: #b4cadc,
  200: #82a6c5,
  300: #5082ad,
  400: #2b689c,
  500: #054d8a,
  600: #044682,
  700: #043d77,
  800: #03346d,
  900: #01255a,
  A100: #8bafff,
  A200: #588cff,
  A400: #2569ff,
  A700: #0c57ff,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($my-blue, 500);
$accent: mat-palette($mat-red, A200);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-pink);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
