<mat-toolbar style="font-size: 15px">
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<div class="window">
  <ng-container *ngFor="let user of invitedUsers">
    <div class="day">
      <div class="heads">
       <div class="head"><img class="head-img" src="/assets/face.png" alt="Compliancechimp"></div>
      </div>
      <div class="box">
        <div class="row">
          <div class="active-dot inactive"></div>
          <div class="user-name">{{user.inviteName}} - {{user.status}}</div>
        </div>
        <div class="active-text">{{user.inviteEmail}} has been invited to join your team!</div>
      </div>
      <div class="flex"></div>
      <button mat-button color="primary" (click)="resendEmail(user)">RESEND EMAIL</button>
      <button mat-icon-button id="delete" (click)="deleteInvite(user)"><mat-icon>delete</mat-icon></button>
    </div>
  </ng-container>
  <ng-container *ngFor="let user of users">
    <div class="day pointer" (click)="editUser(user)">
      <div class="heads">
       <div class="head"><img class="head-img" src={{user.user.profileUrl}} onerror="src = 'assets/face.png'" alt="Compliancechimp"></div>
      </div>
      <div class="box">
        <div class="row">
          <div class="active-dot" [ngClass]="{'uactive': user.statusColor == 'active', 'busy': user.statusColor == 'busy', 'inactive': user.statusColor == 'inactive'}"></div>
          <div class="user-name">{{user.user.name}}</div>
        </div>
        <div class="active-text">{{user.status}}</div>
      </div>
      <div class="flex"></div>
      <div class="map-icon" *ngIf="user.timeclock" matTooltip="View last logged location" matTooltipShowDelay="300" (click)="$event.stopPropagation();showMap(user)"><mat-icon class="map">location_on</mat-icon></div>
    </div>
  </ng-container>
  <button mat-mini-fab class="fab" color="accent" (click)="inviteToTeam()"><mat-icon>person</mat-icon>New Team Member</button>
</div>
    