<h2 mat-dialog-title *ngIf="data.view == 'pending'">Pending Invitations - {{data.invites?.length}}</h2>
<h2 mat-dialog-title *ngIf="data.view == 'invite'">
  <button mat-icon-button (click)="data.view = 'pending'" tabindex="-1"><mat-icon>arrow_back</mat-icon></button>
  Invite a new Member to your team
</h2>
<mat-dialog-content [ngSwitch]="data.view">
  <div *ngSwitchCase="'pending'">
    <mat-list>
      <mat-list-item *ngFor="let user of data.invites">
        <h3 matLine>{{user.inviteName}}</h3>
        <p matLine class="active-text">{{user.inviteEmail}} has been invited to join your team!</p>
        <div class="flex"></div>
        <button mat-icon-button id="delete" tabindex="-1" (click)="deleteInvite(user.id)"><mat-icon>delete</mat-icon></button>
      </mat-list-item>
      <mat-list-item style="cursor:pointer" (click)="data.view = 'invite'">
        <h3 matLine>INVITE A NEW MEMBER</h3>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="d-view" *ngSwitchCase="'invite'">
    <div id="content">Let's build your team. Enter name and email below. When you click INVITE, your team member<br> will recieve an email and be able to join immediately.</div>
    <mat-form-field>
      <input matInput placeholder="name" [(ngModel)]="data.invite.inviteName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="email" [(ngModel)]="data.invite.inviteEmail">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="data.invite.isAdmin">Allow back office access?</mat-slide-toggle>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="close()">CANCEL</button>
  <button mat-raised-button *ngIf="data.view == 'invite'" style="color: #ffffff" color="accent" [disabled]="!data.invite.inviteName || !data.invite.inviteEmail" [mat-dialog-close]="data">INVITE</button>
</mat-dialog-actions>