.mat-dialog-content {
    min-height: 150px;
    min-width: 350px;
}

#card-errors {
    font-size: 13px;
    margin-top: 12px;
    color: #e91e63;
    font-style: italic;
}

.stripe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
}