#container {
  position: relative;
  height: 40px;
  width: 40px;
}

mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  width: 40px;
  height: 40px;
}
