<div class="scroll">
  <div id="dash">
    <div class="card g">
      <div class="info">
        <div class="c-title">Total Gyms</div>
        <div class="c-stat">{{ gyms.length || 0 }}</div>
      </div>
      <mat-icon class="c-icon">supervisor_account</mat-icon>
    </div>
  </div>
  <table mat-table matSort [dataSource]="gyms">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gym Name</th>
      <td mat-cell *matCellDef="let gym">{{gym.name}}</td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let gym">{{gym?.createdAt | date: 'medium'}}</td>
    </ng-container>
    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef>Total Number of Visits</th>
      <td mat-cell *matCellDef="let gym">{{gym?.activity?.length}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>