<div id="crew">
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">test</div>
    <div class="role">Master builder, Product</div>
  </div>
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">MiKayla</div>
    <div class="role">Web Design, Client Services</div>
  </div>
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">Melenna</div>
    <div class="role">Accounting</div>
  </div>
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">Dakotah</div>
    <div class="role">Nerd Burglar</div>
  </div>
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">Tammy</div>
    <div class="role">Client Services Manager</div>
  </div>
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">Alan</div>
    <div class="role">Sales, Engineering, Product</div>
  </div>
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">Jaden</div>
    <div class="role">Master Engineer</div>
  </div>
  <div class="member">
    <img src="/assets/about/test.jpg" id="image">
    <div class="name">Madison</div>
    <div class="role">Web Design, Client Services</div>
  </div>
</div>
<div id="history">
    Our team is made of engineers, web designers, and builders. Our core team has a very diverse background. 
    On the one hand we have built over 250 homes and many commercial and government projects. On the other, 
    we created a college student oriented internet company that served millions of students, saved them hundreds 
    of millions of dollars, and won a spot as the fastest growing company in Utah, and 17th fastest growing company 
    in the nation on the Inc. 500. Those experiences have culminated to where we are today. We know first hand what 
    it is to run teams in a variety of settings. Our diversity of experiences has allowed us to create minute, and we 
    hope you love it as much as we do.
</div>