.block {
  padding: 12px;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-size: 19px;
  margin-top: 56px;
}

#header-img {
  height: 40vh;
  overflow: hidden;
  position: relative;
}

#h-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
}