<div id="header-img">
    <img id="h-img" src="/assets/yoga.jpg">
</div>
<div class="banner">The software that goes with you</div>
<div class="block">
  After centuries of boredom in the fitness industry, we knew we had to do something about it.  No longer will you be stuck to one gym and one activity, no longer will your friends be gyming without you, and no longer will your spouse complain about your love handles.  Gymjumper is here for you and it isn't going anywhere.
  <br><br>Gymjumper is an all-access pass to everything fitness in Southern Utah.  It allows you to have  one membership and have access to a plethora of fitness activities.
</div>