.container {
  min-height: 100vh;
}

.drawer {
  width: 250px;
}

button.fabb {
  position: fixed;
  bottom: 48px;
  left: 221px;
  z-index: 100;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  box-sizing: border-box;
  align-items: flex-start;
}

.full {
  width: 100%;
}

.pad {
  margin-right: 12px;
}

#info {
  margin-top: -24px;
  font-style: italic;
  opacity: .54;
}

.wall {
  padding: 12px;
  box-sizing: border-box;
  background: #f7f7f7;
  width: 100%;
}

#add-wall-button {
  position: absolute;
  right: 24px;
  bottom: 12px;
}