<mat-toolbar>
  <button mat-icon-button (click)="leave()">
    <mat-icon style="color:#757575">arrow_back</mat-icon>
  </button>
  <div class="toolbar-title">{{selfInspectionsService.selfInspection?.title}}</div>
  <div class="flex"></div>
  <button mat-icon-button class="ml" matTooltip="delete this self-inspection" (click)="deleteSelfInspection()"><mat-icon>delete</mat-icon></button>
</mat-toolbar>
<div class="panel">
  <div id="new-inspection">
    <button mat-stroked-button color="primary" style="margin-right: 12px;" (click)="editSelfInspection()">MODIFY {{selfInspectionsService.selfInspection?.title | uppercase}}</button>
    <button mat-stroked-button color="accent" (click)="startSelfInspection()">START A NEW INSPECTION</button>
  </div>
  <div class="inspections" *ngIf="inProgressInspections?.length > 0">
    <div class="info-title">In Progress</div>
    <ng-container *ngFor="let inspection of inProgressInspections">
      <div class="row" [matTooltip]="getCompletePercent(inspection)" matTooltipShowDelay="600">
        <h2>{{inspection?.createdAt | date: 'longDate'}}</h2>
        <div class="fill" [ngStyle]="{'width':(inspection.completedPercent*100)+'%'}"></div>
        <div class="flex"></div>
        <button mat-button color="primary" (click)="resumeSelfInspection(inspection)">CONTINUE INSPECTION</button>
      </div>
    </ng-container>
  </div>
  <div class="inspections" *ngIf="completedInspections?.length > 0">
    <div class="info-title">Completed Inspections</div>
    <ng-container *ngFor="let inspection of completedInspections">
      <div class="row" [matTooltip]="getCompliantPercent(inspection)" matTooltipShowDelay="600">
        <h2>{{inspection?.createdAt | date: 'longDate'}}</h2>
        <div class="fill" [ngStyle]="{'width':(inspection.compliantPercent*100)+'%'}"></div>
        <div class="flex"></div>
        <button mat-button color="primary" (click)="export(inspection)">EXPORT TO PDF</button>
      </div>
    </ng-container>
  </div>
</div>