<div class="scroll">hi
  <div class="feeback-items" *ngFor="let item of feedbackItems | async" [ngClass]="{'closed':item.isClosed}">
    <div class="row" style="margin:0">
        <div class="f-name">{{item.userName}}</div>
        <div class="t-name">{{item.teamName}}</div>
        <div style="flex:1"></div>
        <div class="submitted">{{item.createdAt | date:'medium'}}</div>
      </div>
      <div class="t-body">{{item.description}}</div>
      <div class="t-from">location when submitted: {{item.originPage}}</div>
      <div class="action-row">
        <button mat-button color="accent" style="margin-right:12px" (click)="close(item)">Close</button>
        <button mat-raised-button color="accent" style="color: #FFFFFF" (click)="email(item)">Email</button>
      </div>
    </div>
  </div>