.scroll {
    overflow-y: scroll;
    height: calc(100vh - 48px);
    padding-bottom: 64px;
    box-sizing: border-box;
}

.feeback-items {
    display: flex;
    flex-direction: column;
    margin: 8px;
    border: 2px solid #054d8a;
    border-radius: 8px;
    padding: 12px;
}

.row {
    height: 56px;
    display: flex;
    align-items: center;
    margin: 0 24px;
    padding: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.submitted {
    font-size: 12px;
    align-self: flex-end;
    font-style: italic;
    font-weight: 500;
}

.action-row {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.f-name {
    font-size: 20px;
}

.t-name {
    margin: 0 12px;
    font-size: 14px;
    font-weight: 600;
}

.t-body {
    margin: 24px 0;
    font-size: 17px;
    font-weight: 400;
    opacity: .87;
}

.t-from {
    align-self: flex-end;
    font-size: 14px;
    font-weight: 500;
    opacity: .54;
}

.closed {
    opacity: .54;
}