<mat-toolbar style="font-size: 15px">
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<div class="window">
    <div class="assesments">
      <ng-container *ngFor="let assesment of assesments">
        <div class="assesment">
          <div class="header" (click)="selectAssesment(assesment)">
            <div class="title" >{{assesment.title}}</div>
          </div>
          <div class="body">
            {{assesment.createdAt| date: 'longDate'}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div id="assesment-window" *ngIf="aAssesment && !takeInspection" [@assesment]>
    <mat-toolbar>
      <mat-form-field color="primary" id="title" floatLabel="never">
        <input matInput placeholder="title" type="text" [(ngModel)]="aAssesment.title">
      </mat-form-field>
      <div class="flex"></div>
      <button mat-raised-button class="ml" style="color:white" color="accent" (click)="take()" *ngIf="aAssesment.id">{{takeBtnStr}}</button>
      <button mat-icon-button class="ml" color="primary" (click)="delete()"><mat-icon>delete</mat-icon></button>
      <button mat-button class="ml" color="primary" (click)="cancel()">CANCEL</button>
      <button mat-stroked-button class="ml" color="primary" (click)="save()" [disabled]="!aAssesment.title">SAVE</button>
    </mat-toolbar>
    <div id="instructions">Select the questions that are relevant to your assessment. Questions are grouped by their category.</div>
    <div class="panel">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let sub of aAssesment.assesment; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title style="flex:20">
              {{sub.subject}}
            </mat-panel-title>
            <div class="flex"></div>
            <mat-panel-description>
              {{getLength(sub.questions)}}/{{sub.questions.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list #questions>
            <mat-list-item *ngFor="let question of sub.questions">
                {{question.name}}
                <div class="flex"></div>
                <mat-checkbox [(ngModel)]="question.selected"></mat-checkbox>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field style="width: 100%" floatLabel="never">
                  <input matInput [(ngModel)]="newQ" placeholder="new question" type="text"> 
                </mat-form-field>
                <div class="flex"></div>
                <button mat-button color="primary" (click)="addQuestion(i)">ADD</button>
              </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div id="assesment-window" *ngIf="takeInspection">
    <mat-toolbar>
      {{aSelfInspection.title}}
      <div class="flex"></div>
      <button mat-icon-button class="ml" color="primary" (click)="deleteTake()"><mat-icon>delete</mat-icon></button>
      <button mat-button class="ml" color="primary" (click)="saveLeaveTake()">LEAVE</button>
      <button mat-raised-button class="ml" style="color: white" color="accent" (click)="finishTake()">FINISH</button>
    </mat-toolbar>
    <div class="panel">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let sub of aSelfInspection.assesment; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title style="flex:20">
              {{sub.subject}}
            </mat-panel-title>
            <div class="flex"></div>
            <mat-panel-description>
              {{getTakeLength(sub.questions)}}/{{sub.questions.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list #questions>
            <mat-list-item class="i-item" *ngFor="let question of sub.questions">
                <h3 matLine class="q-title">{{question.name}}</h3>
                <div matLine style="padding: 12px 0">
                  <mat-radio-group class="radio-group" [(ngModel)]="question.response">
                    <mat-radio-button class="radio-button" value="yes">yes</mat-radio-button>
                    <mat-radio-button class="radio-button" value="no">no</mat-radio-button>
                    <mat-radio-button class="radio-button" value="needs-addressed">needs addressed</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div matLine>
                  <mat-form-field style="width: 100%">
                    <textarea matInput placeholder="description" [(ngModel)]="question.description"></textarea>
                  </mat-form-field>
                </div>
              </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <button class="fab" mat-fab color="accent" (click)="startNewAssesment()"><mat-icon>add</mat-icon></button>