#assesment-window {
  position: absolute;
  height: 100vh;
  z-index: 100;
  background-color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
}

#instructions {
  margin: auto;
  padding: 24px;
  text-align: center;
}

.panel {
  padding: 24px;
  height: calc(100vh - 64px);
  overflow: scroll;
  box-sizing: border-box;
}

.i-item {
  height: auto !important;
}

.radio-button {
  margin-right: 12px;
}

.q-title {
    white-space: unset !important;
    margin-top: 12px !important;
}

.ml {
    margin-left: 8px;
}

.mat-list-item {
  min-height: 24px;
  height: auto;
  margin: 12px 0;
}

.mat-checkbox {
  margin-left: 12px;
}