.scroll {
  overflow-y: scroll;
  height: calc(100vh - 48px);
  padding-bottom: 64px;
  box-sizing: border-box;
}

#editor {
    display: flex;
    flex-direction: column;
    margin: 16px;
  }
  
  mat-spinner {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  
  .global {
    color: #4caf50;
  }