#cmt-btn {
  margin-right: 16px;
}

#cmt-btn mat-icon {
  margin-top: -2px;
  margin: -2px 4px 0 -6px;
  color: #e91e63;
}

#dash {
  display: flex;
  flex-wrap: wrap;
}

canvas {
  width: 280px;
  height: 280px;
}

#stat-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px;
}

.stat-tile {
  display: flex;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

.stat-tile:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.stat-tile .icon {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: white;
}

.stat-tile .icon mat-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
}

.stat-tile .content {
  height: 64px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: white;
  padding: 12px;
  box-sizing: border-box;
  width: 420px;
  display: flex;
  align-items: center;
}

.help {
  color: #bdbdbd;
  margin-left: auto;
  cursor: pointer;
  padding-left: 8px;
}

.help:hover {
  color: #757575;
}

#table-title {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

h3 {
  margin: 16px 12px;
}

table {
  width: 100%;
  margin-top: 8px;
  background: #fafafa;
}

#no-history p {
  margin-left: 24px;
}

#received-training-header {
  display: flex;
  align-items: center;
}

#received-training-header mat-icon {
  cursor: pointer;
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-left: 8px;
}

a {
  cursor: pointer;
}

a:hover {
  color: #1976d2;
}
