<div class="window">
  <div id="layout">
    <div *ngIf="!appService.isUser" class="p">
      <span class="title">Start for Free</span>
      <div class="info">No credit card required unless you choose to keep Compliancechimp beyond your 30 day free trial.
      </div>
      <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Safety training</div></div>
      <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Self-inspection</div></div>
      <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Injury reporting</div></div>
      <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Worksite logs</div></div>
      <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Time clock</div></div>
      <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Record-keeping and events tracking</div></div>
      <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Stored in one simple place, forever</div></div>
    </div>
    <div *ngIf="appService.isUser" id="spacer"></div>
    <div id="side">
      <div class="card"  *ngIf="bSignUp">
        <img id="header" src="/assets/ccLogoDark.png" alt="Compliancechimp">
        <div class="error">{{loginErrorStr}}</div>
        <div id="form">
          <mat-form-field>
            <input matInput type="email" required placeholder="email" [(ngModel)]="login.email">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" required placeholder="password" [(ngModel)]="login.password">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" required placeholder="verify password" [(ngModel)]="login.password2">
          </mat-form-field>
          <div style="display: flex; align-items: center">
            <mat-checkbox [(ngModel)]="login.agree"></mat-checkbox>
            <mat-label style="margin-left:12px; opacity:.87;font-size: 14px;">I agree to the Terms of Service, Privacy Policy, and Customer Agreement.</mat-label>
          </div>
        </div>
        <div class="row">
          <span id="account" class="hide">Already have an account?</span><span (click)="isUser()" id="sign-in">Log in</span>
          <button mat-raised-button *ngIf="!appService.isUser" color="accent" [disabled]="!login.agree" style="color: white" (click)="createAccount(true)">CREATE ACCOUNT</button>
        </div>
      </div>
      <div class="card"  *ngIf="!bSignUp && !isPassReset">
        <img id="header" src="/assets/ccLogoDark.png" alt="Compliancechimp">
        <div class="error">{{loginErrorStr}}</div>
        <div id="form">
          <div class="helper-text" *ngIf="!isVerified && bSetPassword">Hey {{login.name}}. Welcome to minute! set a password and you'll be on your way.</div>
          <div class="helper-text" *ngIf="isVerified">Welcome back! Enter your password and login</div>
          <mat-form-field *ngIf="!isVerified && !bSetPassword">
            <input matInput type="email" placeholder="email" [(ngModel)]="login.email">
          </mat-form-field>
          <mat-form-field *ngIf="!isVerified && bSetPassword">
            <input matInput type="password" placeholder="password" [(ngModel)]="login.password">
          </mat-form-field>
          <mat-form-field *ngIf="!isVerified && bSetPassword">
            <input matInput type="password" placeholder="password" [(ngModel)]="login.password2">
          </mat-form-field>
          <mat-form-field *ngIf="isVerified">
            <input matInput type="password" placeholder="password" [(ngModel)]="login.password">
          </mat-form-field>
          <div class="reset" (click)="resetPassword(login.email)" *ngIf="forgotPassword">Forgot password? click here to reset</div>
        </div>
        <div class="row">
          <span id="account" class="hide">Here to start a new team?</span><span (click)="setSignUp()" id="sign-in">Sign up</span>
          <button mat-raised-button *ngIf="!isVerified && !bSetPassword" color="accent" style="color: white" (click)="checkEmail()">NEXT</button>
          <button mat-raised-button *ngIf="isVerified" color="accent" style="color: white" (click)="signInEmail()">LOG IN</button>
          <button mat-raised-button *ngIf="!isVerified && bSetPassword" color="accent" style="color: white" (click)="joinTeam()">JOIN TEAM</button>
        </div>
      </div>
      <div class="card" *ngIf="isPassReset">
        <img id="header" src="/assets/ccLogoDark.png" alt="Compliancechimp">
        <div id="form">
          <div id="reset-text">Head to your inbox to reset your password. We'll be here waiting.</div>
          <button mat-raised-button color="accent" style="color:#ffffff" (click)="isPassReset = false">LOGIN</button>
        </div>
        
      </div>
      <div class="card lock">
        <mat-icon id="lock">lock</mat-icon>
        <div id="secure">We secure your login information using <b>Google's highest standard oAuth 2.0</b> and secure your data in the cloud using Google Cloud Firestore</div>
      </div>
    </div>
  </div>
</div>