
<div *ngIf="!appService.isUser" class="p">
    <span class="title">Start for Free</span>
    <div class="info">Use Minute for 30 days on us. If you don't love it, don't keep it. We won't even ask for a credit card
      until your 30 day trial is up. And there's no contract, ever. We're entirely confident you'll love Minute and the value
      it brings to your team.
    </div>
  </div>
  <div *ngIf="appService.isUser" id="spacer"></div>
  <div class="card">
    <img id="header" src="/assets/minuteLogoBold.png">
    <div id="form">
      <!--<div id="google">Sign in with <img src="/assets/google.png"></div>-->
      <!--<div id="or">or</div>-->
      <mat-form-field>
        <input matInput type="email" placeholder="email" [(ngModel)]="login.email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="password" [(ngModel)]="login.password">
      </mat-form-field>
    </div>
    <div class="row">
      <span id="account">Already have an account?</span><span (click)="isUser()" id="sign-in">Sign In</span>
      <button mat-raised-button *ngIf="!appService.isUser" color="accent" style="color: white" (click)="signInEmail()">SIGN UP</button>
      <button mat-raised-button *ngIf="appService.isUser" color="accent" style="color: white" (click)="signInEmail()">LOG IN</button>
    </div>
  </div>
