mat-toolbar {
  font-size: 15px;
  position: absolute;
  background: white !important;
}

#body {
  margin-top: 64px;
  overflow: auto;
  height: calc(100vh - 64px);
}

.mat-list-avatar {
  border-radius: 2px !important;
  object-fit: cover;
}
