<mat-toolbar>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  Survey&nbsp;<a style="cursor: pointer" (click)="editSurvey(1)">{{ title }}</a>
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>

<div id="settings" *ngIf="survey">
  <mat-slide-toggle
    [checked]="survey.active"
    (change)="updateSurvey($event.source.checked)"
    ><span>Survey Active</span></mat-slide-toggle
  >
  <button mat-button (click)="editSurvey(2)">{{ runType }}</button>
</div>

<div id="chat-bubbles">
  <div id="users-group">
    <div
      class="circle-container"
      *ngFor="let user of usersGroup"
      (click)="editSurvey(4)"
    >
      <div class="circle" [ngStyle]="{ background: user?.color }"></div>
      <span [ngStyle]="{ color: user?.color }">{{
        user?.name?.charAt(0)
      }}</span>
      <img [src]="user?.profileUrl" onerror="this.style.display='none'" />
    </div>
  </div>
  <span class="date" style="margin: 8px auto 24px;"
    >Group Survey by {{ survey?.user?.name }} &bull;
    {{ survey?.createdAt | date }}</span
  >
  <div class="chat-line">
    <div
      class="bubble"
      style="margin-left: auto; background: #BBDEFB; color: #0D47A1; cursor: pointer;"
      (click)="editSurvey(1)"
    >
      {{ survey?.title }}
    </div>
  </div>
  <ng-container *ngFor="let responseGroup of (surveyResponseList | async)">
    <span class="date">{{ responseGroup.date }}</span>
    <div class="chat-line" *ngFor="let response of responseGroup.responses">
      <div class="circle-container">
        <div
          class="circle"
          [ngStyle]="{ background: response?.user?.color }"
        ></div>
        <span [ngStyle]="{ color: response?.user?.color }">{{
          response?.user?.name?.charAt(0)
        }}</span>
        <img
          [src]="response?.user.profileUrl"
          onerror="this.style.display='none'"
        />
      </div>
      <div class="flexcol">
        <span class="user" [ngStyle]="{ color: response?.user?.color }">{{
          response?.user?.name
        }}</span>
        <div class="bubble">
          {{ response.shortAnswer
          }}<span *ngIf="response.shortAnswer">.&nbsp;</span
          >{{ response.longAnswer }}
        </div>
      </div>
    </div>
  </ng-container>
  <span class="date" *ngIf="!(surveyResponseList | async)?.length"
    >No responses yet</span
  >
</div>
