mat-toolbar {
  font-size: 15px;
  position: absolute;
  background: white !important;
}

#body {
  margin-top: 64px;
  overflow: auto;
  height: calc(100vh - 64px);
}

h3 {
  margin: 16px 24px;
}

table {
  width: 100%;
  margin-top: 8px;
  background: #fafafa;
}

#no-history p {
  margin-left: 24px;
}

#received-training-header {
  display: flex;
  align-items: center;
}

#received-training-header mat-icon {
  cursor: pointer;
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-left: 8px;
}
