<div class="p pt">$99 per month, total, for teams of any size.</div>
<div class="p h">
  <div style="flex:2">
      <div id="signup">
        <div id="signupcol">
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Teams of any size</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Unlimited logs and data storage</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext b" routerLink="/how-it-works">Every feature we have</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">No cost customer support</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Month to month, no contracts</div></div>
          <button mat-raised-button color="accent" style="color: #ffffff; border-radius: 20px;border: 1px solid #054d8a;box-shadow: none;margin-top: 24px;" routerLink="login">START A FREE 30 DAY TRIAL</button>
          <div id="shhh">We won’t even ask for a credit card :)</div>
        </div>
      </div>
  </div>
</div>
<div class="border"></div>
<div class=" p v">
  <div class="header">Common Questions</div>
  <div class="question">Is there an annual contract?</div>
  <div class="answer">No. You pay month to month after your 30 day free trial. We believe you should only pay for the things you actually use and receive value from. We’ll never impose contracts on our clients.</div>
  <div class="question">How many users can join?</div>
  <div class="answer">Any number. There’s always a single account owner, who can assign as many admins as they’d like, 
    and then an unlimited number of users download the Compliancechimp app to gain access to all of the features and tools.
  </div>
  <div class="question">Can users login via desktop (web)? Or only Mobile?</div>
  <div class="answer">User features are all mobile dependent. Capturing worksite logs, accessing training, responding to 
    simple surveys, reporting or investigating an injury, and all other user features are powered by the app which is 
    available for free from the iTunes or Google Play store. Owners and admins are the only ones who access the back 
    office via the web.
  </div>
  <div class="images">
    <img class="mobile-link" src="/assets/aStore.png" alt="Apple Store">
    <img class="mobile-link" src="/assets/pStore.png" alt="Play Store">
  </div>
  <div class="question">Is there a limit to the amount of pictures, logs, or self-inspections?</div>
  <div class="answer">No. $99/month covers the cost of storing and retrieving pictures, worksite logs, self-inspection 
    and incident reports, plus real-time location tracking and communication...everything.
  </div>
  <div class="question">What languages is Compliancechimp offered in?</div>
  <div class="answer">English, and Spanish is becoming more complete every day. If you see translation issues, 
    or have language requests, please drop us a note at support@compliancechimp.com.
  </div>
  <div class="question">Can I cancel at any time?</div>
  <div class="answer">Of course. And we’ll even refund your current month.</div>
  <div class="question">Can I see a demo or try this for free?</div>
  <div class="answer">Yes. You’re about 15 seconds away from seeing Compliancechimp for yourself. 
    We don’t even require a credit card for the 30 day trial. Just click “START FOR FREE” at the top of this page. 
    Zero pressure. Zero hassle. No sales pitch. Just clean access to your own Compliancechimp account, 
    which we believe you’ll love.</div>
  <div class="question">What if I have questions?</div>
  <div class="answer">Ask away! We watch our support channel with zeal. Visit our support page and enter your 
    question or comment in the box, or email us directly if you prefer at support@compliancechimp.com. 
    We’ll get back to you right away and gladly hop on a call if you’d like to discuss further in person.</div>
</div>
<div style="height: 48px" class="hide"></div>
<sign-up></sign-up>