<div class="p pt">Made for teams of every size. Our feature set is identical no matter which tier you fit into.</div>
<div class="p h">
  <div style="flex:2">
      <div id="signup">
        <div class="srow">
          <div class="sbox">
            <div class="stitle"><div class="sprice">$39</div><div>/Mo</div></div>
            <div class="sinfo">Total, 10 employees or less</div>
          </div>
          <div class="sbox" style="border-left: 1px solid;border-right: 1px solid;">
            <div class="stitle"><div class="sprice">$99</div><div>/Mo</div></div>
            <div class="sinfo">Total, 100 employees or less</div>
          </div>
          <div class="sbox">
            <div class="stitle"><div class="sprice">$2</div><div>/user/Mo</div></div>
            <div class="sinfo">More than 100 employees</div>
          </div>
        </div>
        <div id="signupcol">
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Teams of any size</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Unlimited logs and data storage</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext b" routerLink="/how-it-works">Every feature we have</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">No cost customer support</div></div>
          <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Month to month, no contracts</div></div>
          <button mat-raised-button color="accent" style="color: #ffffff;border: 1px solid #054d8a;box-shadow: none;margin-top: 24px;" routerLink="/sign-up">START A FREE 30 DAY TRIAL</button>
          <div id="shhh">We won’t even ask for a credit card :)</div>
        </div>
      </div>
  </div>
</div>
<div class="border"></div>
<div class=" p v">
  <div class="header">Common Questions</div>
  <div class="question">Is there an annual contract?</div>
  <div class="answer">No. You pay month to month after your 30 day free trial.</div>
  <div class="question">How many users can join?</div>
  <div class="answer">Any number. There’s always a single account owner, who can assign as many admins as they’d like, 
    and then an unlimited number of users download the Compliancechimp app to gain access to all of the features and tools.
  </div>
  <div class="question">Can users login via desktop (web)? Or only Mobile?</div>
  <div class="answer">User features are all mobile dependent. Capturing worksite logs, accessing training, responding to 
    simple surveys, reporting or investigating an injury, and all other user features are powered by the app which is 
    available for free from the iTunes or Google Play store. Owners and admins are the only ones who access the back 
    office via the web.
  </div>
  <div class="images">
    <a target='_blank' href='https://play.google.com/store/apps/details?id=com.betterspace.complianceChimp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' id="pstore-link" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
    <a target='_blank' href="https://itunes.apple.com/us/app/compliancechimp/id1445077154?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-12-11&kind=iossoftware&bubble=apple_music) no-repeat;width:135px;height:47px;"></a>
  </div>
  <div class="question">How do you determine number of employees for the pricing tier?</div>
  <div class="answer">It's based entirely on the number of members you invite to your team. 
    After the free 30 day trial, each month we look to see how many total team members are part of your organization 
    on the Teams page, and base the tier off of that number.
  </div>
  <div class="question">Is there a limit to the amount of pictures, logs, surveys, or self-inspections?</div>
  <div class="answer">No. The price covers unlimited activity of every feature.
  </div>
  <div class="question">What languages is Compliancechimp offered in?</div>
  <div class="answer">English, and Spanish is becoming more complete every day. If you see translation issues, 
    or have language requests, please drop us a note at support@compliancechimp.com.
  </div>
  <div class="question">Can I cancel at any time?</div>
  <div class="answer">Of course. And we’ll even refund your current month.</div>
  <div class="question">Can I see a demo or try this for free?</div>
  <div class="answer">Yes. You’re about 15 seconds away from seeing Compliancechimp for yourself. 
    We don’t even require a credit card for the 30 day trial. Just click “START FOR FREE” at the top of this page. 
    Zero pressure. Zero hassle. No sales pitch. Just clean access to your own Compliancechimp account, 
    which we believe you’ll love.</div>
  <div class="question">What if I have questions?</div>
  <div class="answer">Ask away! We watch our support channel with zeal. Visit our support page and enter your 
    question or comment in the box, or email us directly if you prefer at support@compliancechimp.com. 
    We’ll get back to you right away and gladly hop on a call if you’d like to discuss further in person.</div>
</div>
<div style="height: 48px" class="hide"></div>
<sign-up></sign-up>