
.ml {
  margin-left: 8px;
}

.panel {
  padding: 24px;
  height: calc(100vh - 64px);
  overflow: scroll;
  box-sizing: border-box;
}

#instructions {
  margin: auto;
  padding: 24px;
  text-align: center;
}

.mat-list-item {
  min-height: 24px;
  height: auto;
  margin: 12px 0;
  cursor: pointer;
}