<mat-toolbar>
  <img class="toolbar-logo" src="/assets/ccLogoDark.png">
  <div class="toolbar-title">Logs</div>
  <div class="flex"></div>
  <div id="search-box" [class.expand]="searchVisible">
    <button mat-icon-button (click)="searchVisible = !searchVisible">
      <mat-icon>search</mat-icon>
    </button>
    <input [(ngModel)]="searchStr" placeholder="Category | Question" (keyup)="filterEvents()" />
    </div>
    <button
    mat-icon-button
    style="margin-right: 12px;"
    (click)="filter()"
    matTooltip="Filter by people"
    [matBadge]="filterUsers.length"
    [matBadgeHidden]="!filterUsers.length"
    matBadgeSize="small">
    <mat-icon>filter_list</mat-icon>
  </button>
  <button class="toolbar-button" (click)="export()" mat-button>EXPORT</button>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
   <div class="window" id="window" (scroll)="onScroll($event)">
     <div id="bbody">
       <div class="month">{{now}}</div>
       <ng-container *ngFor="let day of days; index as i">
         <div class="day-box">
           <div class="day" (click)="aDay ? aDay = null : aDay = day.id">
             <div class="date box" (click)="createEditLog(day)">
               <div class="date" matTooltip="Add a new log" matTooltipPosition="right" matTooltipShowDelay="600" [ngClass]="{'small': day.logs.length == 0}">{{day.day}}</div>
               <div class="dow" [ngClass]="{'hide': day.logs.length == 0}">{{day.dOW}}</div>
              </div>
              <div class="row">
                <div class="event"  *ngFor="let log of day.logs">
                  <div class="block" (click)="log.bShowDetails == true ? log.bShowDetails = false : log.bShowDetails = true">
                    <div class="type">{{log.user?.name}} -&nbsp;</div>
                    <div class="title">{{log.description}}</div>
                    <div class="flex"></div>
                    <div class="map-icon" *ngIf="log.bShowDetails && log.LatPos" matTooltip="view log location" matTooltipShowDelay="300" (click)="$event.stopPropagation();showMap(log)"><mat-icon class="map">location_on</mat-icon></div>
                  </div>
                  <div class="details" [@expand] *ngIf="log.bShowDetails">
                    <div class="image-row">
                      <div class="log-image-box" *ngFor="let image of log.images" (click)="showImages(log.images)"><img class="log-image" src={{image.imageUrl}} onerror="src = '/assets/lost.png'" alt="Compliancechimp"></div>
                    </div>
                    <div class="info">
                      <mat-icon (click)="createEditLog(day, log)" class="edit">edit</mat-icon>
                      <div class="last-changed" *ngIf="log.updatedAt">changed by {{log.updatedBy}} {{log.updatedAt | date: 'short'}}</div>
                      <div class="flex"></div>
                      <div class="createdAt">created: {{log.createdAt | date: 'shortTime'}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="month" *ngIf="day.day == 1">{{days[i + 1]?.month}}</div>
        </ng-container>
      </div>
    </div>