.window {
    height: calc(100vh - 88px) !important;
    overflow: scroll;
    padding-top: 24px;
}

#search {
    flex: 1;
    font-size: 15px;
    background: #41535B;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 12px;
    border-radius: 12px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
  }

.filter {
    margin: 0 24px;
}

.day-box {
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
    margin: 12px;
}

.day {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 12px;
    background: #ffffff;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100px;
}

.hours {
    align-items: center !important;
    font-size: 24px;
}

.date {
    font-size: 32px;
    color: #212121;
}

.dow {
    font-size: 15px;
    color: #666666;
    margin-top: -8px;
}

.heads {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.head {
    height: 55px;
    overflow: hidden;
    width: 55px;
    border-radius: 50%;
    margin: 0 8px;
}

img.head-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.month {
    margin: 24px;
    font-size: 24px;
    color: #666666;
}

.details {
    background-color: #ffffff;
    margin-top: -18px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.logs {
    margin: 24px 0 64px 0;
}

.log {
    margin: 8px 0;
    padding: 12px 24px;
}

.log-row {
    display: flex;
    align-items: center;
}

.log-profile-img-cont {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

img.log-profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-name {
    font-size: 17px;
    margin: 0 24px;
    display: flex;
}

.log-box {
    align-items: center !important;
}

.log-info {
    color: #666666;
    font-size: 15px;
}

.map-icon {
    margin: 0px 12px;
    cursor: pointer;
}

.map {
    height: 32px;
    width: 32px;
    font-size: 32px;
    color: #666666;
}

.image-row {
    white-space: nowrap;
    overflow: scroll;
}

.log-image-box {
    height: 120px;
    overflow: hidden;
    margin: 8px;
    display: inline-block;
}

.log-image {
    height: 100%;
}

.info-log {
    padding: 8px;
}

.survey {
    color: #666666;
    padding: 8px 0 0 8px;
}