<mat-toolbar>
  <img class="toolbar-logo" src="/assets/ccLogoDark.png" />
  <div class="toolbar-title">Logs</div>
  <div class="flex"></div>
  <button mat-icon-button style="margin-right: 12px;" (click)="search()">
    <mat-icon
      matBadge="!"
      [matBadgeHidden]="!isSearch"
      matBadgeColor="warn"
      matBadgeSize="small"
      >search</mat-icon
    >
  </button>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>

<div class="window" #window>
  <div id="logs" #logs [class.hidden]="!showView">
    <div id="load-btn-container">
      <button mat-stroked-button *ngIf="allowLoad" (click)="loadMore()">
        LOAD MORE
      </button>
    </div>
    <p *ngIf="!(logsGroup | async)?.length">
      No results{{ isSearch ? " for search parameters." : "." }}
    </p>

    <ng-container *ngFor="let group of (logsGroup | async)">
      <div id="date">
        <span>{{ group.date }}</span>
      </div>
      <div
        class="chat-line-wrapper"
        [class.is-me]="authorGroup.isMe"
        *ngFor="let authorGroup of group.logsByAuthor; last as lastAuthorGroup"
      >
        <div class="chat-line">
          <div class="circle-container">
            <div
              class="circle"
              [ngStyle]="{ background: authorGroup.author?.color }"
            ></div>
            <span [ngStyle]="{ color: authorGroup.author?.color }">{{
              authorGroup.author?.name?.charAt(0)
            }}</span>
            <img
              [src]="authorGroup.author?.profileUrl"
              onerror="this.style.display='none'"
            />
          </div>
          <div
            class="bubbles-container"
            (click)="authorGroup.showTime = !authorGroup.showTime"
          >
            <span class="name">{{ authorGroup.author?.name }}</span>
            <div
              class="bubble-wrapper"
              *ngFor="
                let log of authorGroup.logs;
                first as isFirst;
                last as isLast
              "
            >
              <div
                class="chat-bubble"
                [class.is-image]="log.imageUrl"
                [ngClass]="
                  authorGroup.logs.length > 1
                    ? isFirst
                      ? 'top'
                      : isLast
                      ? 'bottom'
                      : 'middle'
                    : null
                "
              >
                <p *ngIf="log?.description">{{ log?.description }}</p>
                <img
                  *ngIf="log.imageUrl"
                  [src]="log.imageUrl"
                  onerror="this.style.display='none'"
                />
              </div>
              <button
                mat-icon-button
                class="more-button"
                (click)="$event.stopPropagation()"
                [matMenuTriggerFor]="appMenu"
                [matMenuTriggerData]="{ log: log }"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          class="time"
          [ngStyle]="{
            maxHeight:
              (lastGroup && lastAuthorGroup) || authorGroup.showTime
                ? '24px'
                : '0px'
          }"
        >
          <span>{{ authorGroup.time }}</span>
        </div>
      </div>
    </ng-container>

    <!-- For temporary response logs -->
    <div class="chat-line-wrapper is-me">
      <div class="chat-line">
        <div class="bubbles-container">
          <div
            class="chat-bubble"
            *ngFor="let rl of responseLogs; first as isFirst; last as isLast"
            [class.is-image]="rl.imageUrl"
            [ngClass]="
              responseLogs.length > 1
                ? isFirst
                  ? 'top'
                  : isLast
                  ? 'bottom'
                  : 'middle'
                : null
            "
          >
            <p *ngIf="rl?.description">{{ rl?.description }}</p>
            <img
              *ngIf="rl.imageUrl"
              [src]="rl.imageUrl"
              onerror="this.style.display='none'"
            />
          </div>
          <mat-icon *ngIf="errorIcon" id="alert" (click)="resendLog()"
            >alert</mat-icon
          >
        </div>
      </div>
    </div>
    <!-- End temporary logs -->

    <div id="sending" *ngIf="sending">Sending...</div>
    <!-- For proper scrolling, added blank div with height -->
    <div id="buffer" #buffer></div>
    <!-- End Buffer -->
  </div>

  <div id="actions">
    <div id="textbox" #textbox>
      <div id="flexcol">
        <div id="images">
          <div class="img-wrapper" *ngFor="let image of images">
            <img [src]="image.previewImage" />
            <mat-icon (click)="removeImage(image)">close</mat-icon>
          </div>
        </div>
        <textarea
          #myInput
          [(ngModel)]="description"
          placeholder="Log description"
          (keyup)="resize()"
        ></textarea>
      </div>
      <button mat-icon-button (click)="getImage()">
        <mat-icon>photo</mat-icon>
      </button>
    </div>
    <button
      id="send-btn"
      (click)="createLog()"
      [class.disabled]="!description && !images?.length"
      [disabled]="!description && !images?.length"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="loading || sending"
></mat-progress-bar>

<!-- Image input -->
<div style="height: 0px; width: 0px; overflow:hidden">
  <input
    type="file"
    id="upfile"
    accept=".png,.jpg,.mp4"
    (change)="uploadImage($event)"
  />
</div>
<!-- End image input -->

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-log="log">
    <button
      mat-menu-item
      *ngIf="log.imageUrl"
      (click)="viewImage(log.imageUrl)"
    >
      View Image
    </button>
    <button
      mat-menu-item
      *ngIf="log.LatPos && log.LongPos"
      (click)="showMap(log)"
    >
      View Location
    </button>
    <button mat-menu-item (click)="deleteLog(log)">Delete Log</button>
  </ng-template>
</mat-menu>
