.cwindow {
    height: 100vh;
    overflow: scroll;
}

.title {
    height: 40px;
    outline: none;
    cursor: pointer;
}


.toolbar {
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF !important;
}

#spacer {
    height: 64px;
}

.shadow {
    /* box-shadow: 0 1px 4px -3px; */
}

.link {
    color: #212121;
    margin-right: 8px;
}

.tactive {
    transition: all 250ms;
    /* border-bottom: 2px solid #ff5252 !important; */
    color: #ff5252 !important;
}

#sidenav {
    width: 100vw;
}

#links {
    padding-top: 64px;
    background-color: #054d8a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile {
    display: none;
}

@media screen and (max-width: 785px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: inline;
    }
    .link {
        font-size: 28px;
        margin: 12px;
    }
    #spacer {
        height: 56px;
    }    
    .border {
        width: 100vw;
        background: url(/assets/border.png) repeat-x;
        height: 8px;
        margin: 42px 0;
        background-size: contain;
    }
  }

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-chimp {
    height: 250px;
    margin-top: -70px;
}

#loading-text {
    margin: 24px;
    font-size: 17px;
    font-weight: 600;
    opacity: .87;
}

#loading-bar {
    width: 40vw;
}