<mat-toolbar color="primary" *ngIf="!router.isActive('/account', false)">
  <span id="title">minute</span>
  <div style="width: 50px"></div>
  <button mat-button routerLink="why" routerLinkActive="active">Why minute?</button>
  <button mat-button routerLink="pricing" routerLinkActive="active">Pricing</button>
  <button mat-button routerLink="about" routerLinkActive="active">About us</button>
  <div class="flex"></div>
  <button mat-stroked-button  routerLink="login">START FOR FREE</button>
</mat-toolbar>
<router-outlet></router-outlet>