<mat-toolbar id="toolbar" color="primary" *ngIf="!router.isActive('/account', false)">
  <img src="/assets/minuteLogoWhiteBold.png" id="title"  routerLink="home">
  <div style="width: 50px"></div>
  <button mat-button routerLink="why" routerLinkActive="active">Why minute?</button>
  <button mat-button routerLink="pricing" routerLinkActive="active">Pricing</button>
  <button mat-button routerLink="about" routerLinkActive="active">About us</button>
  <div class="flex"></div>
  <button mat-stroked-button  routerLink="login">START FOR FREE</button>
</mat-toolbar>
<div id="spacer"></div>
<router-outlet></router-outlet>
<footer id="footer" *ngIf="!router.isActive('/account', false)">
  
</footer>