#title {
    height: 50px;
    outline: none;
    cursor: pointer;
}


#toolbar {
    position: fixed;
    z-index: 1;
    background-color: #2196f3 !important;
}

#spacer {
    height: 64px;
}


.shadow {
    box-shadow: 0 1px 4px -3px;
}

.link {
    color: #ffffff;
    margin-right: 8px;
}

.tactive {
    transition: all 250ms;
    border-bottom: 2px solid #ff9100 !important;
}