<div class="screen">
  <div class="pt">Compliancechimp Privacy Policy</div>
  <br>Effective: October 30, 2018
  <br>
  <br>This Privacy Policy describes how Betterspace, LLC  (“Compliancechimp” or “Chimp”) collects, uses and discloses information. Your data and the privacy of your stored data is of highest priority. The table of contents is as follows: 
  <br>
  <br>•Applicability of this Privacy Policy
  <br>•Information We Collect and Receive
  <br>•How We Use Information
  <br>•Data Retention
  <br>•How We Share and Disclose Information
  <br>•Security
  <br>•Age Limitations
  <br>•Changes to this Privacy Policy
  <br>•Contacting Chimp
  <br>
  <br><b>Applicability Of This Privacy Policy</b>
  <br>This Privacy Policy applies to Chimp’s online tools, including our back office, our mobile application (collectively, the “Services”), Compliancechimp.com (our Website) and other interactions (e.g., customer service interactions) you may have with Chimp. If you do not agree with the terms, do not access or use the Services, Websites or any other aspect of Chimp’s business.
  <br>
  <br><b>Information We Collect And Receive</b>
  <br>Chimp may collect and receive Customer Data and other information in a variety of ways:
  <br>
  <br>Customer Data. Account owners and admins, along with individuals granted access to a team by an account owner or an admin, are considered Authorized Users. Authorized users routinely submit Customer Data to Chimp when using the Services. 
  <br>
  <br>Other Information. Chimp also collects, generates and/or receives Other Information including business and account Information. To create or update an account, you or your employer supply Chimp with an email address, phone number, password, and/or similar account details. In addition, Customers that purchase a paid version of the Services provide Chimp (or its payment processors) with billing details such as credit card information, banking information and/or a billing address.
  <br>
  <br>Services Metadata. When an Authorized User interacts with the Services, metadata is generated that gives additional context about the way Authorized Users use the Services. For example, Chimp logs the account, people, pages, content and training you interact with, etc.
  <br>
  <br>Log data. As with most websites and technology services delivered over the Internet, our servers automatically collect information when you access or use our Website or Services and record it in log files. This log data may include the Internet Protocol (IP) address, the address of the web page visited before using the Website or Services, browser type and settings, the date and time the Services were used, information about browser configuration and plugins, language preferences and cookie data.
  <br>
  <br>Device information. Chimp collects information about devices accessing the Services, including type of device, what operating system is used, device settings, application IDs, unique device identifiers and crash data. Whether we collect some or all of this Other Information often depends on the type of device used and its settings.
  <br>
  <br>Location information. We receive information from you that helps us approximate your location. We may, for example, use a business address submitted by your employer, or an IP address received from your browser or device to determine approximate location. Chimp may also collect location information from devices in accordance with the consent process provided by your device.
  <br>
  <br>Cookie Information. Chimp uses cookies and similar technologies in our Website and Services that help us collect Other Information. The Websites and Services may also include cookies and similar tracking technologies of third parties, which may collect Other Information about you via the Websites and Services and across other websites and online services. 
  <br>
  <br>Third Party Data. Chimp may receive data about organizations, industries, Website visitors, marketing campaigns and other matters related to our business from, our partners or others that we use to make our own information better or more useful. This data may be combined with Other Information we collect and might include aggregate level data, such as which IP addresses correspond to zip codes or countries. Or it might be more specific: for example, how well an online marketing or email campaign performed.
  <br>
  <br><b>How We Use Information</b>
  <br>Customer Data will be used by Chimp in accordance with our Customer Agreement, use of Services functionality, and as required by applicable law. Chimp is a processor of Customer Data and Customer is the controller. Customer may, for example, use the Services to grant and remove access to an account, assign roles and configure settings, access, modify, export, share and remove Customer Data and otherwise apply its policies to the Services.
  <br>
  <br>Chimp uses Other Information in furtherance of our legitimate interests in operating our Services, Websites and business. More specifically, Chimp uses Other Information:
  <br>
  <br>To provide, update, maintain and protect our Services, Website and business. This includes use of Other Information to support delivery of the Services under a Customer Agreement, prevent or address service errors, security or technical issues, analyze and monitor usage, trends and other activities or at an Authorized User’s request.
  <br>
  <br>As required by applicable law, legal process or regulation.
  <br>
  <br>To communicate with you by responding to your requests, comments and questions. If you contact us, we may use your Other Information to respond.
  <br>
  <br>To develop and provide search or productivity tools and additional features. Chimp tries to make the Services as useful as possible for Authorized Users. For example, we may improve search functionality by using Other Information to help determine and rank the relevance of content, make Services suggestions based on historical use and predictive models, identify organizational trends and insights, to customize a Services experience or create new productivity features and products.
  <br>
  <br>To send emails and other communications. We may send you service, technical and other administrative emails, messages and other types of communications. We may also contact you to inform you about changes in our Services, our Services offerings, and important Services-related notices, such as security and fraud notices. These communications are considered part of the Services and you may not opt out of them. In addition, we sometimes send emails about new product features, promotional communications or other news about Chimp. These are marketing messages and you may opt out of them.
  <br>
  <br>For billing, account management and other administrative matters. Chimp may need to contact you for invoicing, account management and similar reasons and we use account data to administer accounts and keep track of billing and payments.
  <br>
  <br>To investigate and help prevent security issues and abuse.
  <br>
  <br>If Information is aggregated or de-identified so it is no longer reasonably associated with an identified or identifiable natural person, Chimp may use it for any business purpose. To the extent Information is associated with an identified or identifiable natural person and is protected as personal data under applicable data protection law, it is referred to in this Privacy Policy as “Personal Data.”
  <br>
  <br><b>Data Retention</b>
  <br>Chimp will retain Customer Data in accordance with a Customer’s instructions, including any applicable terms in the Customer Agreement and Customer’s use of Services functionality, and as required by applicable law. The deletion of Customer Data and other use of the Services by Customer may result in the deletion and/or de-identification of certain associated Other Information. Chimp may retain Other Information pertaining to you for as long as necessary for the purposes described in this Privacy Policy. This may include keeping your Other Information after you have deactivated your account for the period of time needed for Chimp to pursue legitimate business interests, conduct audits, comply with (and demonstrate compliance with) legal obligations, resolve disputes and enforce our agreements.
  <br>
  <br><b>How We Share And Disclose Information</b>
  <br>This section describes how Chimp may share and disclose Information. 
  <br>
  <br>Chimp will solely share and disclose Customer Data in accordance with any applicable terms in the Customer Agreement and Customer’s use of Services functionality, and in compliance with applicable law and legal process.
  <br>
  <br>Displaying the Services. When an Authorized User submits Other Information, it may be displayed to other Authorized Users in the same or connected Account. For example, an Authorized User’s email address may be displayed with their Account profile. 
  <br>
  <br>Collaborating with Others. The Services provide different ways for Authorized Users working independently to collaborate, such as worksite logs. 
  <br>
  <br>Customer Access. Owners, administrators, Authorized Users and other Customer representatives and personnel may be able to access, modify or restrict access to Other Information. This may include, for example, your employer using Service features to export logs of Account activity, or accessing or modifying your profile details. 
  <br>
  <br>Corporate Affiliates. Chimp may share Other Information with its corporate affiliates, parents and/or subsidiaries.
  <br>
  <br>If Chimp engages in a merger, acquisition, bankruptcy, dissolution, reorganization, sale of some or all of Chimp’s assets or stock, financing, public offering of securities, acquisition of all or a portion of our business, a similar transaction or proceeding, or steps in contemplation of such activities (e.g. due diligence), some or all Other Information may be shared or transferred, subject to standard confidentiality arrangements.
  <br>
  <br>Aggregated or De-identified Data. We may disclose or use aggregated or de-identified Other Information for any purpose. For example, we may share aggregated or de-identified Other Information with prospects or partners for business or research purposes, such as telling a prospective Chimp customer average usage statistics.
  <br>
  <br>To Comply with Laws. If we receive a request for information, we may disclose Other Information if we reasonably believe disclosure is in accordance with or required by any applicable law, regulation or legal process. 
  <br>
  <br>To enforce our rights, prevent fraud, and for safety. To protect and defend the rights, property or safety of Chimp or third parties, including enforcing contracts or policies, or in connection with investigating and preventing fraud or security issues.
  <br>
  <br>With Consent. Chimp may share Other Information with third parties when we have consent to do so.
  <br>
  <br><b>Security</b>
  <br>Chimp takes security of data very seriously. Chimp works hard to protect Other Information you provide from loss, misuse, and unauthorized access or disclosure. These steps take into account the sensitivity of the Other Information we collect, process and store, and the current state of technology. Given the nature of communications and information processing technology, Chimp cannot guarantee that Information, during transmission through the Internet or while stored on our systems or otherwise in our care, will be absolutely safe from intrusion by others.
  <br>
  <br><b>Age Limitations</b>
  <br>To the extent prohibited by applicable law, Chimp does not allow use of our Services and Websites by anyone younger than 13 years old. If you learn that anyone younger than 13 has unlawfully provided us with personal data, please contact us and we will take steps to delete such information.
  <br>
  <br><b>Changes To This Privacy Policy</b>
  <br>Chimp may change this Privacy Policy from time to time. Laws, regulations and industry standards evolve, which may make those changes necessary, or we may make changes to our business. We will post the changes to this page and encourage you to review our Privacy Policy to stay informed. If we make changes that materially alter your privacy rights, Chimp will provide additional notice, such as via email or through the Services. If you disagree with the changes to this Privacy Policy, you should deactivate your Services account. Contact your employer if you wish to request the removal of Personal Data under their control.
  <br>
  <br><b>Contacting Chimp</b>
  <br>Please feel free to contact Chimp if you have any questions about this Privacy Policy or Chimp’s practices, or if you are seeking to exercise any of your statutory rights. You may contact us at support@compliancechimp.com or at our mailing address below:
  <br>
  <br>Betterspace LLC
  <br>4595 S. Homestead Ct.
  <br>Washington, UT 84780
  <br>USA
</div>
<sign-up></sign-up>