mat-card {
  border-radius: 12px;
  padding: 48px 64px 24px;
  max-width: 400px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

mat-form-field {
  margin-top: -12px;
}

mat-card-footer {
  font-size: 13px;
}

a {
  color: #1565c0;
  cursor: pointer;
}

button {
  padding-left: 48px;
  padding-right: 48px;
}

mat-card-footer {
  display: flex;
  justify-content: center;
}

#get-started {
  display: flex;
  justify-content: center;
  font-size: 13px;
  margin-top: 24px;
}

img {
  border-radius: 4px !important;
}

.progress {
  position: absolute;
  top: -14px;
  width: 130px;
  background: #009688;
  color: white;
  border-radius: 16px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  left: 50%;
  transform: translateX(-50%);
}

#page-title {
  margin-bottom: 32px;
}

.error {
  color: red;
  margin: 12px 0;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay img {
  height: 50%;
  margin-top: 24px;
}
