.window {
  position: relative;
}

.surveys {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.survey {
  position: relative;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.14);
}

.header {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: flex-start;
}
 
.category {
  font-size: 13px;
  font-weight: 500;
}

.title {
  text-align: center;
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  opacity: .87;
}

.body {
  padding: 12px;
  flex: 1;
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  padding: 24px;
}

.half {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: nowrap;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

mat-radio-button {
  margin: 8px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  align-items: center;
  justify-content: center;
}

.cd {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cactive {
background-color: #e9e9e9;
}

.buttons {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

#delete {
  color: #666666;
}



#survey-window {
  position: absolute;
  height: 100vh;
  z-index: 100;
  background-color: #ffffff;
  top: 0;
  right: 0;
  left: 0;
}

.assesments {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}

.assesment {
  width: 250px;
  background-color: #ffffff;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 400ms;
  margin: 8px;
}

#title {
  width: 400px;
}




.ml {
  margin-left: 8px;
}





#left {
  padding: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.user {
  border: solid 1px rgba(0,0,0,.14);
  padding: 8px;
  border-radius: 12px;
}

.uimage {
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 12px;
}

.uname {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.description {
  padding: 4px;
  font-size: 17px;
  opacity: .8;
}

.eval {
  margin: 0 8px;
}

.good {
  color: #00e676;
}

.okay {
  color: #ffea00;
}

.bad {
  color: #ff1744;
}