<!-- <mat-toolbar style="font-size: 15px">
  <input id="search" placeholder="search" type="text" [(ngModel)]="searchStr">
  <mat-form-field class="filter">
    <mat-select placeholder="Filter by people" [(ngModel)]="filterUsers" multiple>
      <mat-option *ngFor="let user of accountService.teamUsers" [value]="user.id">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<div class="window">
  <div class="surveys">
    <ng-container *ngFor="let survey of surveys | async | surveySearch: searchStr : filterUsers">
      <div class="survey">
        <div class="header" (click)="selectSurvey(survey)">
          <div class="category">{{survey.category}}</div>
          <div class="title">{{survey.title}}</div>
        </div>
        <div class="body" [ngClass]="{'good': survey.ranPercent > .75, 'okay': .74 > survey.ranPercent > .35, 'bad': .34 > survey.ranPercent }">
          <div class="eval">{{survey.ranNumber}}/{{accountService.teamUsers.length}}</div>
          <div class="perc">{{survey.ranPercent | percent}}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div id="survey-window" *ngIf="aSurvey" [@survey]>
  <mat-toolbar>
    <mat-form-field id="title" floatLabel="never">
      <input matInput placeholder="category" type="text" [(ngModel)]="aSurvey.category">
    </mat-form-field>
    <div class="flex"></div>
    <button mat-icon-button class="ml" color="primary" (click)="deleteSurvey()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button class="ml" color="primary" (click)="saveSurvey(false)">CANCEL</button>
    <button mat-stroked-button class="ml" color="primary" (click)="saveSurvey(true)" [disabled]="!aSurvey.title">SAVE</button>
  </mat-toolbar>
  <div class="details">
    <div class="half" id="left">
      <mat-form-field>
        <input matInput placeholder="title" [(ngModel)]="aSurvey.title">
      </mat-form-field>
      <div style="display:flex">
        <div class="half">
          <mat-slide-toggle color="accent" [(ngModel)]="aSurvey.active">Active</mat-slide-toggle>
          <mat-radio-group [(ngModel)]="aSurvey.runType">
            <mat-radio-button [value]="'daily'">Daily</mat-radio-button>
            <mat-radio-button [value]="'dow'">Weekly</mat-radio-button>
            <mat-radio-button [value]="'dom'">Monthly</mat-radio-button>
            <mat-radio-button [value]="'date'">On a Date</mat-radio-button>
            <mat-radio-button [value]="'once'">Once</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="half" style="align-items: center; justify-content: center; padding-bottom: 40px;">
          <mat-form-field *ngIf="aSurvey.runType == 'date'">
            <input matInput [matDatepicker]="picker" [value]="aSurvey.types.date.toDate()" placeholder="Choose a date"
              (dateChange)="aSurvey.types.date = $event.value">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-button-toggle-group multiple vertical *ngIf="aSurvey.runType == 'dow'">
            <mat-button-toggle *ngFor="let day of week" (change)="addTo(day)" [checked]="checkIfChecked(day)">{{day}}</mat-button-toggle>
          </mat-button-toggle-group>
          <div class="calendar" *ngIf="aSurvey.runType == 'dom'">
            <div class="cd" *ngFor="let item of array(31); let i = index;" (click)="addTo(i+1)" [ngClass]="{'cactive': checkIfChecked(i+1)}">{{i+1}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="half">
      <div id="responses">
        <div class="user" *ngFor="let user of surveyUsers">
          <div class="row">
            <img class="uimage" src={{user.profileUrl}} onerror="'src = /assets/face.png'">
            <div class="uname">{{user.name}}</div>
            <div class="utime">{{user.surveyResponse.createdAt | date:'MM-dd-yyyy'}}</div>
          </div>
          <div class="description">{{user.surveyResponse.shortAnswer}}{{user.surveyResponse.longAnswer ? ' - ' +
            user.surveyResponse.longAnswer : ''}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="fab" mat-fab color="accent" (click)="startNewSurvey()">
  <mat-icon>add</mat-icon>
</button> -->


<mat-toolbar>
  Surveys
  <div class="flex"></div>
  <button mat-icon-button style="margin-right: 8px;">
    <mat-icon>filter_list</mat-icon>
  </button>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<mat-nav-list>
  <mat-list-item *ngFor="let survey of surveys | async">
    <h3 matLine> {{survey.category}} </h3>
    <p matLine>{{survey.title}}</p>
  </mat-list-item>
</mat-nav-list>