<div class="s g" id="s1">
  <div class="box center">
    <div class="title">Why Minute?</div>
    <div class="info" style="margin: 12px auto">Minute enables a safer and more compliant workplace, while also capturing
       the historical record needed to protect your business in the event of an accident or client litigation. We handle
        the painstaking detail in four key areas, which frees you up to confidently grow your business.
    </div>
  </div>
</div>
<div class="s">
  <img class="s-image" src="/assets/why/phone.png">
  <div class="box">
    <div class="title">Worksite logs</div>
    <div class="info wide">Worksite logs become a daily reality with Minute. Any employee can log anything, realtime or anytime, 
      captured with text and pictures within the Minute app. Time and location are also logged. Capture the entire historical record 
      of your projects, happenings, and any incidents. Worksite logs, when combined with time, location, and training surveys, create 
      a robust record needed in the event of an accident or inspection.
    </div>
  </div>
</div>
<div class="s g">
  <div class="box">
    <div class="title">Team safety training</div>
    <div class="info wide">Training content is available 24/7, and surveys are delivered to your team’s mobile phone to ensure you 
      have a record of training received, from every employee. This enables a safer workplace and ensures leadership and teams stay 
      on the exact same page. The survey responses create the historical record of training received, which is a critical OSHA precaution.
    </div>
  </div>
  <img class="s-image" src="/assets/why/training.png">
</div>
<div class="s">
  <img class="s-image" style="max-height: 45%;" src="/assets/why/osha.png">
  <div class="box">
    <div class="title">OSHA Compliance with Self-inspection</div>
    <div class="info wide">Minute contains OSHA’s self-inspection content and a wildly useful self-inspection wizard to tailor the OSHA
       questionnaire to your workspace. Take the assessment often and have the results stored forever. In the words of OSHA, “Self-inspection
        is essential if you are to know where probable hazards exist and whether they are under control.” We agree, and minute makes it easy.
    </div>
  </div>
</div>
<div class="s g">
  <div class="box">
    <div class="title">Time cards and locations</div>
    <div class="info wide">Take the hassle out of keeping time. With Minute, time is recorded beautifully on every user’s mobile phone, allowing 
      you to run a simple report each pay period. All records are kept historically. You’ll save time and money every pay period, with Minute.
    </div>
  </div>
  <img class="s-image" src="/assets/why/timecard.png">
</div>
<div class="s" style="height: 25vh;">
  <div class="box" id="happy">
    <div class="title" style="text-align: center">Start using Minute today -<br>Your happiness is our guarantee.</div>
    <div class="info" style="text-align: center">We have your back, and you have our guarantee. If you aren’t delighted with Minute, you can end the service at any time 
        and we’ll even refund your current month.
    </div>
  </div>
</div>
<div id="button-box"><button mat-raised-button style="color: white" color="accent" id="button" routerLink="login">START FOR FREE</button></div>

      