.s {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#s1 {
    height: 40vh;
}

.g {
    background-color: #f5f5f5;
    background-image: linear-gradient(#fafafa, #f5f5f5);
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.white {
    color: #ffffff;
}

.info {
    max-width: 90%;
    width: 550px;
    font-size: 17px;
    margin-top: 12px;
    opacity: .87;
}

.wide {
    width: 770px;
}

.center {
    text-align: center;
}

#button-box {
    text-align: center;
}

.s-image {
    max-height: 70%;
}

#happy {
    display: flex;
    flex-direction: column;
    align-items: center;
}