<div class="cont">
  <div id="row">
    <div id="title">Start using compliancechimp today - your happiness is our guarantee.</div>
    <img src="/assets/guarantee.png">
  </div>
  <div id="box">
    <div id="col">
      <button mat-raised-button style="color:#ffffff; border-radius:20px;border: 1px solid #054d8a;box-shadow: none;" color="accent">START FOR FREE</button>
      <div id="hint">No credit card required.</div>
    </div>
    <div style="flex:1"></div>
    <div id="info">We have your back, and you have our guarantee. If you aren’t delighted with compliancechimp, you can end the service at any time and we’ll even refund your current month.</div>
  </div>
</div>