.cont {
  width: 765px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 90vw;
}

#box {
  margin: auto;
  background-color: #ffffff;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  border-radius: 12px;
}

#su-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#su-info {
  flex: 4;
  opacity: 0.65;
  font-weight: 100;
}

#su-hint {
  text-align: center;
  margin-top: 8px;
  opacity: 0.54;
  font-style: oblique;
  font-size: 13px;
}

#su-row {
  display: flex;
  align-items: center;
  margin: 24px auto;
}

#title {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
}

img {
  height: 175px;
}

@media screen and (max-width: 500px) {
  #su-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  #title {
    font-size: 23px;
    text-align: center;
  }

  #box {
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }

  #su-info {
    margin-bottom: 24px;
    font-size: 14px;
  }
}
