<div class="cont">
  <div id="su-row">
    <div id="title">
      Start using Compliancechimp today - your happiness is our guarantee.
    </div>
    <img src="/assets/guarantee.png" alt="guarantee" />
  </div>
  <div id="box">
    <div id="su-col">
      <button
        mat-raised-button
        style="color:#ffffff;border: 1px solid #054d8a;box-shadow: none;overflow: visible;"
        color="accent"
        (click)="signUp()"
      >
        START TODAY
      </button>
    </div>
    <div style="flex:1"></div>
    <div id="su-info">
      We have your back, and you have our guarantee. If you aren’t delighted
      with Compliancechimp, you can end the service at any time.
    </div>
  </div>
</div>
