<h2 mat-dialog-title>Meta Description</h2>
  <mat-dialog-content style="width:50vw">
  <mat-form-field style="width:100%">
    <textarea matInput rows="8" placeholder="description" [(ngModel)]="data.metaDescription"></textarea>
    <mat-hint [ngClass]="{red: data.metaDescription.length > 300}">{{data.metaDescription.length}}/300</mat-hint>
  </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions style="margin-top:12px" align="end">
  <button mat-raised-button color="accent" (click)="close()">SET</button>
  </mat-dialog-actions>