<mat-toolbar style="font-size: 15px">
  <!-- <div class="flex"></div>
    <toolbar-helper></toolbar-helper>
  </mat-toolbar>
  <div class="window">
    <div class="box one">
      <div class="level">
        <div class="circle">1</div>
        <div class="bar">Setup</div>
      </div>
      <div class="cards">
        <div class="card">
          <div class="icon-circle"><mat-icon>person</mat-icon></div>
          <div class="header">Your profile</div>
          <div class="body">upload a logo, profile pic and additional contact information (optional).
          </div>
        </div>
        <div class="card">
          <div class="icon-circle"><mat-icon>smartphone</mat-icon></div>
          <div class="header">The app</div>
          <div class="body">The app is free and every member of the team should download it now.
          </div>
        </div>
        <div class="card">
          <div class="icon-circle"><mat-icon>group</mat-icon></div>
          <div class="header">Invite the team</div>
          <div class="body">Your team can be any size. see how to add them and grow your workforce.
          </div>
        </div>
      </div>
    </div>
    <div class="box two">
      <div class="level">
        <div class="circle">2</div>
        <div class="bar">Safety Training</div>
      </div>
      <div class="cards">
        <div class="card">
          <div class="icon-circle"><mat-icon>book</mat-icon></div>
          <div class="header">OSHA training</div>
          <div class="body">The combination of OSHA content and individual surveys makes this a leading feature of the platform
          </div>
        </div>
      </div>
    </div>
    <div class="box three">
      <div class="level">
        <div class="circle">3</div>
        <div class="bar">Record Keeping</div>
      </div>
      <div class="cards">
        <div class="card">
          <div class="icon-circle"><mat-icon>date_range</mat-icon></div>
          <div class="header">Record Keeping</div>
          <div class="body">Perform regular self-inspections/ capture injury and near miss reports.
          </div>
        </div>
      </div>
    </div>
    <div class="box four">
      <div class="level">
        <div class="circle">4</div>
        <div class="bar">Logs</div>
      </div>
      <div class="cards">
        <div class="card">
          <div class="icon-circle"><mat-icon>star</mat-icon></div>
          <div class="header">Record Keeping</div>
          <div class="body">Perform regular self-inspections/ capture injury and near miss reports.
          </div>
        </div>
        <div class="card">
          <div class="icon-circle"><mat-icon>favorite</mat-icon></div>
          <div class="header">Record Keeping</div>
          <div class="body">Perform regular self-inspections/ capture injury and near miss reports.
          </div>
        </div>
        <div class="card">
          <div class="icon-circle"><mat-icon>cake</mat-icon></div>
          <div class="header">Record Keeping</div>
          <div class="body">Perform regular self-inspections/ capture injury and near miss reports.
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <button mat-icon-button *ngIf="NavBack" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>{{ActiveRoute}}</h1>
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<router-outlet></router-outlet>