#search {
    flex: 1;
    font-size: 15px;
    background: #ffffff;
    border: none;
    outline: none;
    color: #212121;
    padding: 12px;
    border-radius: 12px;
    border: .5px solid #41535B;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #666666;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #666666;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #666666;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #666666;
  }

.filter {
    margin: 0 24px;
}

.day-box {
    margin: 0 12px;
    /*border-bottom: 1px solid rgba(0,0,0,.14);*/
}

.day {
    display: flex;
    align-items: flex-start;
    padding: 8px 24px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100px;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.event {
    margin: 4px 0;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 8px;
    transition: all 250ms;
}

.block {
    display: flex;
    cursor: pointer;
}

.log {
    background-color: #ffcdd2;
}

.survey {
    background-color: #bbdefb;
}

.timeclock {
    background-color: #ffe0b2;
}

.type {
    font-weight: 600;
    opacity: .87;
}

.title {
    opacity: .78;
}

.date {
    font-size: 32px;
    color: #212121;
}

.dow {
    font-size: 15px;
    color: #666666;
    margin-top: -8px;
}

.month {
    margin: 24px;
    font-size: 24px;
    color: #666666;
    font-weight: 500;
}

.details {
    overflow: hidden;
}

.image-row {
    white-space: nowrap;
    overflow: scroll;
}

.log-image-box {
    height: 120px;
    overflow: hidden;
    margin: 8px;
    display: inline-block;
}

.log-image {
    height: 100%;
}

.time-detail {
    display: flex;
    margin: 8px 0;
    opacity: .87;
    user-select: none;
}

.time-item {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.small {
    font-size: 17px !important;
    opacity: .54;
}

.hide {
    display: none;
}