<mat-toolbar style="font-size: 15px">
  <input id="search" placeholder="search" type="text" [(ngModel)]="searchStr">
  <mat-form-field class="filter">
    <mat-select placeholder="People" [(ngModel)]="filterUsers" multiple>
      <mat-option *ngFor="let user of accountService.teamUsers" [value]="user.id">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter">
    <mat-select placeholder="Event type" [(ngModel)]="filterTypes" multiple>
      <mat-option *ngFor="let type of eventTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<div class="window" id="window" (scroll)="onScroll($event)">
  <div id="body">
    <div class="month">{{now}}</div>
    <ng-container *ngFor="let day of days | eventSearch: searchStr : filterUsers: filterTypes; index as i">
      <div class="day-box">
        <div class="day" (click)="aDay ? aDay = null : aDay = day.id">
          <div class="date box">
            <div class="date" [ngClass]="{'small': day.events.length == 0}">{{day.day}}</div>
            <div class="dow" [ngClass]="{'hide': day.events.length == 0}">{{day.dOW}}</div>
          </div>
          <div class="row">
            <div class="event" [ngClass]="event.type" *ngFor="let event of day.events">
              <div class="block" (click)="routeToEventOrigin(event)">
                <div class="type">{{event.user.name}} {{event.action}} a {{event.type}} -&nbsp;</div>
                <div class="title">{{event.description}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="month" *ngIf="day.day == 1">{{days[i + 1]?.month}}</div>
    </ng-container>
  </div>
</div>