<mat-tab-group color="accent" id="tabs" [selectedIndex]="selectedTab" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Library"> 
    <library *ngIf="!accountService.makeBird"></library>
    <bird *ngIf="accountService.makeBird"></bird>
  </mat-tab>
  <mat-tab label="Race"> 
      <races *ngIf="!accountService.makeRace && !accountService.race"></races>
      <race *ngIf="accountService.race"></race>
      <create-race *ngIf="accountService.makeRace"></create-race>
  </mat-tab>
  <mat-tab label="Account"> 
    <div class="column">
      <button mat-stroked-button class="image-button" color="primary" *ngIf="accountService.user.isDev" routerLink="/account/support">SUPPORT</button>
      <div class="image-cont">
        <div class="image-circle"><mat-progress-bar style="position: absolute;bottom: 0px;" *ngIf="loading" mode="indeterminate"></mat-progress-bar><img class="img" src={{accountService.user?.profileUrl}} onerror="src = '/assets/face.png'" alt="Gym Jumper"></div>
        <div style="height: 0px; width: 0px; overflow:hidden"><input type="file" id="upProfileUrl" accept=".png,.jpg,.mp4" #uploadT (change)="uploadProfileImage($event)"></div>
        <button mat-stroked-button *ngIf="!accountService?.user.profileUrl" class="image-button" color="primary" (click)="upload(true)">UPLOAD PICTURE</button>
      </div>
      <mat-form-field>
        <input matInput color="primary" placeholder="profile name" [(ngModel)]="accountService.user.name" (change)="saveProfile()">
      </mat-form-field>
      <mat-form-field>
        <input matInput color="primary" readonly placeholder="email" [(ngModel)]="accountService.user.email" (change)="saveProfile()">
      </mat-form-field>
      <mat-form-field>
        <input matInput color="primary" placeholder="phone" type="tel" [(ngModel)]="accountService.user.phone" (change)="saveProfile()">
      </mat-form-field>
      <button mat-stroked-button class="image-button" color="primary" (click)="accountService.logout()">LOGOUT</button>
      <button mat-button id="delete-account" color="warn" (click)="deleteAccount()"><mat-icon>delete</mat-icon> DELETE ACCOUNT</button>
    </div>
  </mat-tab>
</mat-tab-group>