.scroll {
    overflow-y: scroll;
    height: calc(100vh - 48px);
    padding-bottom: 64px;
    box-sizing: border-box;
}

.support-items {
    border-bottom: 1px solid #000000;
}

.row {
    height: 56px;
    display: flex;
    align-items: center;
    margin: 0 24px;
    padding: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.new-dot {
    width: 12px;
    height: 12px;
    background-color: #054d8a;
    border-radius: 40%;
    margin-right: 8px;
}

.short-body {
    padding: 0 12px;
    white-space: nowrap;
    opacity: .65;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.submitted {
    font-size: 12px;
    align-self: flex-end;
    font-style: italic;
    font-weight: 500;
}

.expanded {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.body {
    font-size: 15px;
    margin-bottom: 24px;
}

.user-info {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.user-img {
    height: 56px;
    width: 56px;
    border-radius: 35%;
    margin: 0 8px;
    object-fit: cover;
}

.user-data {
    margin: 0 8px;
}

.action-row {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}