<div class="support-items" *ngFor="let item of supportItems">
  <div class="row" (click)="expandItem(item)">
    <div class="new-dot" *ngIf="!item.respondedAt"></div>
    <div class="name">{{item.email}}</div>
    <div class="short-body">{{item.body}}</div>
    <div style="flex:1"></div>
    <div class="submitted">{{item.createdAt | date:'medium'}}</div>
  </div>
  <div class="expanded" *ngIf="aItem?.id == item.id">
    <div class="body">{{item.body}}</div>
    <div class="user-info" *ngIf="item.isUser">
      <img class="user-img" src={{item.user?.profileUrl}} onerror="src = '/assets/face.png'" alt="Compliancechimp">
      <div class="user-data">{{item.user?.name}}</div>
      <div class="user-data">phone:{{item.user?.phone}}</div>
      <div class="user-data">account type: {{item.user?.accountType}}</div>
    </div>
    <div class="user-info" *ngIf="!item.isUser">
      <img class="user-img" src={{item.user?.profileUrl}} onerror="src = '/assets/face.png'" alt="Compliancechimp">
      <div class="user-data">New Visitor</div>
    </div>
    <div class="action-row">
      <button mat-raised-button color="accent" style="color: #FFFFFF;" (click)="markReplied()">MARK REPLIED</button>
    </div>
  </div>
</div>