<h2 mat-dialog-title>Enter {{data.name}}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Birds</mat-label>
    <mat-select [formControl]="eBirds" [(value)]="enteredBirds" multiple>
      <mat-option *ngFor="let bird of birds" [value]="bird.id">{{bird.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="margin-top:12px" align="end"><button mat-button color="primary" style="margin-right:8px" (click)="dialogRef.close()">CANCEL</button>
<button mat-raised-button color="accent" (click)="close()">CREATE</button>
</mat-dialog-actions>