<div class="p v">
  <div class="pt">How it works.</div>
  <div class="info">Compliancechimp wraps its arms around the OSHA compliance, training,
        record-keeping, and worksite related activities that enable a safer workplace and
        protect your business in the event of an injury, inspection, audit, claim, or litigation. 
        As an added bonus, it even tracks employee time for payroll and allows you see employee 
        activity and location, real-time. An explanation of the setup and our entire feature list is below:
  </div>
</div>
<div class="border"></div>
<div class="center">The Setup.</div>
<div class="p h">
  <div class="col">
    <div class="sub">It's easy</div>
    <div class="info">1.Sign up for free 
      <br>2.Invite your team from the back office.  
      <br>3.Download the free app to enable all mobile features.  
    </div>
    <div class="info">The back office anchors the entire team which is enabled 100% via their mobile devices. 
      The account owner and admins are the only ones who access the back office to do back-office-y things 
      (explained below).  Everyone else stays entirely mobile.  It’s...neat.  
    </div>
  </div>
  <img id="lady" class="hide" src="/assets/lady.png">
</div>
<div class="border"></div>
<div class="center">The Features.</div>
<div class="cinfo">No secrets or easter eggs. This is what you get.</div>
<div class="p h">
  <div class="col">
    <div class="sub">Safety Training & Verification Surveys</div>
    <div class="info">Refreshingly approachable OSHA training content lives within the app, 
      making training consistent and accessible to every employee. Training is coupled with a 
      customizable mobile survey which employees respond to after training sessions. This is the 
      critical paper trail which is stored forever in your back office. The marrying of training 
      content with simple surveys hits the mark to ensure learning and prove compliance.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">All training content available within the app.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Easy navigation to any topic and see estimated time commitment to train.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Surveys delivered directly to users via the app.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Record of training, including who attended, stored forever in the back office.</div></div>
  </div>
  <img id="lady" class="hide" src="/assets/lady.png">
</div>
<div class="spacer"></div>
<div class="p h">
  <img id="lady" class="hide" src="/assets/lady.png">
  <div class="col">
    <div class="sub">Worksite Logs</div>
    <div class="info">Any user can log anything, realtime or anytime, from the app. Capture the entire historical record of your projects, 
      happenings, and incidents, near-misses, or concerns, in a single, consolidated place. Worksite logs provide rich data back to your 
      organization and create the record needed in the event of an accident, inspection, or claim.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Time and location automatically tracked</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Unlimited pictures and text</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Real-time sync to back office where logs are available forever.</div></div>
  </div>
</div>
<div class="spacer"></div>
<div class="p h">
  <div class="col">
    <div class="sub">Self-Inspection</div>
    <div class="info">“Self-inspection is essential if you are to know where probable hazards exist and whether they are under control.” - OSHA.</div>
    <div class="info">This is your first line of defense, and compliancechimp makes it easy. Our proprietary self-inspection wizard tailors self-inspection 
      to your workspace and makes it insanely easy to consistently complete and improve.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Create unlimited number of self-inspections for your various locations or worksites.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Each completed inspection generates a “needs report” for improvement.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">All self-inspection reports are stored and accessible forever.</div></div>
  </div>
  <img id="lady" class="hide" src="/assets/lady.png">
</div>
<div class="spacer"></div>
<div class="p h">
  <img id="lady" class="hide" src="/assets/lady.png">
  <div class="col">
    <div class="sub">Injury Reports</div>
    <div class="info">Reporting injuries or near misses is a challenge. It requires employee participation and obscure forms, 
      which need to be kept on record for decades. Compliancechimp takes this cumbersome process and makes it accessible and 
      approachable for employers and employees, increasing compliance and accuracy. 
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Forms are accessed via mobile survey within the app for easy and accurate completion.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Easily attach pictures to provide richer content.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Investigation form also included for supervisor completion, ensuring compliance with all requirements.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Forms are automatically saved to the back office, forever.</div></div>
  </div>
</div>
<div class="spacer"></div>
<div class="p h">
  <div class="col">
    <div class="sub">Track Time and Location for Payroll </div>
    <div class="info">As an added bonus, compliancechimp takes the hassle out of keeping time, no matter how remote your team is. Time is recorded easily using the user’s mobile phone. 
      This allows employees to more easily track their own time, and allows you to run payroll reports for each pay period. All records are kept historically and can even be used for 
      project costing. Save time and money every pay period with this feature. 
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Clock-in, clock-out from app.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">See who’s working real time.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Location stored along with time.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Payroll report can be run for any period, any time.</div></div>
  </div>
  <img id="lady" class="hide" src="/assets/lady.png">
</div>
<div class="border"></div>
<div class="center">A little more about the back office.</div>
<div class="p h">
  <div class="col">
    <div class="info">Compliancechimp revitalizes and enables a culture of safety. That in turn, achieves compliance with federal standards and protocols. 
      And that, protects your business on multiple fronts, to bring peace of mind.  
    </div>
    <div class="info">The back office is your mega weapon which validates compliance and keeps everything you need for your historical record, forever.  
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Create and complete self-inspections</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">View all worksite logs</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Customize training content</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">See who has received training, and when</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Create custom surveys</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Run time card reports for payroll</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Build and manage your team</div></div>
  </div>
  <img id="lady" class="hide" src="/assets/lady.png">
</div>
<div class="border"></div>
<sign-up></sign-up>