<div class="p v">
  <div class="pt">How it works.</div>
  <div class="info" style="max-width: none;">Compliancechimp is a Safety Compliance Management System that helps organizations achieve and maintain OSHA compliance. 
    This includes safety training, self-inspection, injury reporting, worksite logs, record-keeping, and other worker and worksite related activities. 
    Even though the cost of non-compliance is very high, most employers don't know where compliance starts or where it ends. 
    Compliancechimp takes the many disjointed requirements and puts them in one simple place where they are easily and consistently performed, 
    and reliably stored forever. An explanation of the setup and our entire feature list is below.
  </div>
</div>
<div class="border"></div>
<div class="spacer"></div>
<div class="p h">
  <div class="col">
    <div class="sub">Setup</div>
    <div class="info left" style="line-height: 18px">1.Sign up for free 
      <br><br>2.Invite your team from the back office.  
      <br><br>3.Download the free app to enable all mobile features.  
    </div>
    <div class="info" style="margin-top:48px">The back office anchors the entire team which is enabled 100% via their mobile devices. 
        The account owner and admins are the only ones who access the back office to do back-office-y things 
        (explained below).  Everyone else stays entirely mobile. 
    </div>
  </div>
  <img class="pic right hide" src="/assets/how/setup.png" alt="setup">
</div>
<div class="spacer"></div>
<div class="p h reverse">
  <img class="hide pic left" src="/assets/how/training.png" alt="safety">
  <div class="col">
    <div class="sub">Safety Training</div>
    <div class="info">With over 1,400 training articles spanning every industry, you’ll find the critical content you need to train your teams and ensure compliance. 
      This content comes directly from OSHA, and is organized across industries and topics. Create a training library by favoriting only relevant articles. 
      Go further and add your own content from scratch. Your library is automatically shared with every team member via the app on their mobile phone. 
      See First-Person Surveys below to understand how powerful safety training becomes with Compliancechimp.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Easy navigation to any training topic and article.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">See the estimated time commitment to train on every article.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Record of training, including who attended, is stored forever in the back office.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Compliance is measured both at the organization and personal level.</div></div>
  </div>
</div>
<div class="p h">
  <div class="col">
    <div class="sub">First-Person Surveys</div>
    <div class="info">Compliance reaches the individual worker thanks to surveys. 
      A “Start Training” button accompanies every article. Any employee can give training by clicking this button. 
      When that happens, a survey is instantly delivered to every person in attendance asking if they received that specific training. 
      Their response is recorded in the back office and tracked against overall training goals. No more paper or sporadic tracking efforts. 
      Surveys verify training at the personal level. What’s more, admins can create custom surveys and send to any one, any time.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Surveys are instantly delivered to every person who attended safety training.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Responses are recorded along with key training information in the back office.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Custom surveys can be sent on any subject to any member of the team, or the entire organization.</div></div>
  </div>
  <img class="hide pic right" src="/assets/how/surveys.png" alt="safety">
</div>
<div class="spacer"></div>
<div class="p h reverse">
  <img class="hide pic left" src="/assets/how/logs.png" alt="logs">
  <div class="col">
    <div class="sub">Worksite Logs</div>
    <div class="info">Any user can log anything, realtime or anytime, from the app. Capture the entire historical record of your projects, 
      happenings, and incidents, near-misses, or concerns, in a single, consolidated place. Worksite logs provide rich data back to your 
      organization and create the record needed in the event of an accident, inspection, or claim.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Time and location automatically tracked</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Unlimited pictures and text</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Real-time sync to back office where logs are available forever.</div></div>
  </div>
</div>
<div class="spacer"></div>
<div class="p h">
  <div class="col">
    <div class="sub">Self-Inspection</div>
    <div class="info" style="margin-bottom:12px;">“Self-inspection is essential if you are to know where probable hazards exist and whether they are under control.” - OSHA.</div>
    <div class="info">This is your first line of defense, and compliancechimp makes it easy. Our proprietary self-inspection wizard tailors self-inspection 
      to your workspace and makes it insanely easy to consistently complete and improve.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Create unlimited number of self-inspections for your various locations or worksites.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Each completed inspection generates a “needs report” for improvement.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">All self-inspection reports are stored and accessible forever.</div></div>
  </div>
  <img class="hide pic right" src="/assets/how/selfInspection.png" alt="self-inspection">
</div>
<div class="spacer"></div>
<div class="p h reverse">
  <img class="hide pic left" src="/assets/how/injury.png" alt="injury reports">
  <div class="col">
    <div class="sub">Injury Reports</div>
    <div class="info">Reporting injuries or near misses is a challenge. It requires employee participation and obscure forms, 
      which need to be kept on record for decades. Compliancechimp takes this cumbersome process and makes it accessible and 
      approachable for employers and employees, increasing compliance and accuracy. 
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Forms are accessed via mobile survey within the app for easy and accurate completion.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Easily attach pictures to provide richer content.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Investigation form also included for supervisor completion, ensuring compliance with all requirements.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Forms are automatically saved to the back office, forever.</div></div>
  </div>
</div>
<div class="spacer"></div>
<div class="p h">
  <div class="col">
    <div class="sub">Track Time and Location for Payroll </div>
    <div class="info">As an added bonus, compliancechimp takes the hassle out of keeping time, no matter how remote your team is. Time is recorded easily using the user’s mobile phone. 
      This allows employees to more easily track their own time, and allows you to run payroll reports for each pay period. All records are kept historically and can even be used for 
      project costing. Save time and money every pay period with this feature. 
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Clock-in, clock-out from app.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">See who’s working real time.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Location stored along with time.</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Payroll report can be run for any period, any time.</div></div>
  </div>
  <img class="hide pic right" src="/assets/how/time.png" alt="timeclocks">
</div>
<div class="spacer"></div>
<div class="p h reverse">
  <div style="flex: 1;display: flex;flex-direction: column;align-items: flex-start;">
    <img class="hide pic" src="/assets/how/backOffice.png" alt="backoffice">
    <img class="hide pic" src="/assets/how/backOffice1.png" alt="backoffice">
  </div>
  <div class="col">
    <div class="sub">Back Office</div>
    <div class="info">Compliancechimp revitalizes and enables a culture of safety. That in turn, achieves compliance with federal standards and protocols. 
      And that, protects your business on multiple fronts, to bring peace of mind.  
    </div>
    <div class="info" style="margin:12px 0">The back office is your mega weapon which validates compliance and keeps everything you need 
      for your historical record, forever. It’s also where you organize pre-curated training content, and even create and organize your own 
      unique or custom content.
    </div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Create and complete self-inspections</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">View all worksite logs</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Customize training content</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">See who has received training, and when</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Create custom surveys</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Run time card reports for payroll</div></div>
    <div class="check"><mat-icon class="cico">check</mat-icon><div class="ctext">Build and manage your team</div></div>
    </div>
</div>
<div style="height: 48px" class="hide"></div>
<sign-up></sign-up>