<div class="p h abs">
  <div class="col">
    <div class="scrollsub">Sign Up</div>
    <div class="info">We use Google's oAuth 2.0 so you have the piece of mind knowing your data is safe. We have partnered with Stripe so you can rest easy knowing your financials are secured as well.
    </div>
    <div class="scrollsub">Download</div>
    <div class="info">GYM Jumper is available both in Google Play and Apple Store for free. You will need the app to enter in the gym.</div>
    <div class="scrollsub">Pick a Gym</div>
    <div class="info">We have partnered with lots of gyms and are gettting new contracts everyday so working out could never be easier. We show you all the gyms around you and can offer directions so getting there is a breeze.
    </div>
    <div class="scrollsub">Scan and Go</div>
    <div class="info">Each gym that works with GYM Jumper will have a QR code on or around the front counter. Scan the code with your phone and get instant access to the gym. 
    </div>
  </div>
  <div style="flex:1" class="hide">
    <img class="scrollpic fixscroll" src="/assets/how/complianceCycle.png" alt="setup">
  </div>
</div>