.p {
    padding: 0 64px;
    box-sizing: border-box;
  }
  
  .v {
    display: flex;
    flex-direction: column;
  }
  
  .h {
    display: flex;
  }
  
  .pt {
    color: #ffffff;
    font-size: 42px;
    padding-top: 125px;
    margin-bottom: 24px;
    max-width: 740px;
  }
  
  .info {
    color: #ffffff;
    font-size: 20px;
    opacity: .87;
    max-width: 740px;
  }
  
  #signup {
    margin: 48px 0;
    border: 4px solid #18ffff;
    height: 200px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 900px;
    margin: auto;
    max-width: calc(100vw - 128px);
  }
  
  #signupcol {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  
  #imgcont {
    flex: 1;
  }
  
  #signupchimp {
    height: 200px;
  }
  
  #shhh {
    margin-top: 18px;
    text-align: center;
    opacity: .87;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
  }
  
  .border {
    width: 100vw;
    background: url(/assets/border.png) repeat-x;
    height: 22px;
    margin-top: 48px;
  }

  .spacer {
      height: 64px;
  }
  
  .sub {
    color: #ffffff;
    font-size: 26px;
    margin: 24px 0;
    font-weight: 500;
    max-width: 730px;
  }
  
  #box {
    display: flex;
    flex-wrap: wrap;
    padding: 48px;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .card {
    margin: 8px;
  }
  
  .ci {
    height: 200px;
    object-fit: contain;
  }
  
  .ct {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
  
  .quote {
    color: #ffffff;
    font-size: 19px;
  }
  
  .sig {
    text-align: end;
    color: #ffffff;
    font-style: italic;
  }
  
  .col {
    flex: 2;
  }
  
  #lady {
    flex: 1;
    object-fit: contain;
    height: 400px;
    margin-left: 24px;
  }

  .center {
    font-size: 42px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 8px;
}

.cinfo {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    opacity: .87;
    margin-bottom: 24px;
    margin: 0 12px;
}

.check {
    margin: 12px 0;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.cico {
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin-right: 12px;
    font-weight: bold;
}

.ctext {
    max-width: 500px;
    opacity: .87;
}
  
  @media screen and (max-width: 500px) {
    .p {
      padding: 8px;
    }
    #signup {
      max-width: calc(100vw - 16px);
    }
    .pt {
      font-size: 28px;
      text-align: center;
      padding-top: 24px;
    }
    .center {
        font-size: 28px;
    }
    .spacer {
        height: 24px;
    }
    .info {
      font-size: 15px;
      text-align: center;
    }
    #imgcont {
      display: none;
    }
  
    .hide {
      display: none;
    }
  
    #shhh {
      font-size: 12px;
    }
  
    .sub {
      font-size: 21px;
      text-align: center;
    }
  
    .quote {
      font-size: 15px;
      padding: 12px;
    }
  }