  <mat-toolbar>
  <div class="flex"></div>
    <toolbar-helper></toolbar-helper>
  </mat-toolbar>
  <div class="window">
    <div id="header">
      <div id="h-title">Achievements</div>
      <div id="h-progress">{{completedAchievements?.length}}/{{achievements?.length}}</div>
    </div>
    <div class="achievements">
      <div class="achievement" *ngFor="let achievement of achievements" [ngClass]="{'complete': achievement.complete}" [routerLink]="achievement.routerLink">
        <img class="trophy" src="/assets/trophy.png">
        <div class="box">
          <div class="row">
            <div class="cat">{{achievement.category}}</div>
            <div class="completed" *ngIf="achievement.complete">{{achievement?.createdAt}}</div>
          </div>
          <div class="name">{{achievement.name}}</div>
          <div class="progress">{{achievement.complete ? achievement.completedValue : achievement.progress || 0}}/{{achievement.completedValue}}</div>
        </div>
      </div>
    </div>
  </div>