#header {
    display: flex;
    justify-content: space-between;
    margin: 12px 24px;
    font-size: 32px;
}

#h-progress {
    opacity: .87;
    font-style: italic;
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement {
    border: 2px solid #054d8a;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    filter: grayscale(50%);
    opacity: .6;
    cursor: pointer;
    transition: all 250ms;
}

.achievement:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.complete {
    filter: grayscale(0%);
    opacity: 1;
}

.trophy {
    height: 56px;
}

.box {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
}

.cat {
    font-size: 13px;
    font-weight: 500;
}

.name {
    font-size: 15px;
    opacity: .87;
    max-width: 300px;
}

.progress {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    opacity: .87;
    letter-spacing: 1.5px;
}