  <mat-toolbar>
  <div class="flex"></div>
    <toolbar-helper></toolbar-helper>
  </mat-toolbar>
  <div class="window">
    <div id="header">
      <div id="h-title">Achievements</div>
      <div id="h-progress">{{completedCount}}/{{achievements?.length}}</div>
    </div>
    <div id="info">Well done, the chimp is here to help. Complete the achievements and you will be well on your way to using Compiance Chimp to it maximun potential.</div>
    <div class="achievements">
      <div class="achievement" *ngFor="let achievement of achievements" [ngClass]="{'complete': achievement.complete}" [routerLink]="achievement.routerLink">
        <div class="fill" [ngStyle]="{'width':achievement.fill}"></div>
        <img class="trophy" [src]="'/assets/achievements/' + achievement.category + '.png'">
        <div class="box">
          <div class="row">
            <div class="cat">{{achievement.category}}</div>
          </div>
          <div class="name">{{achievement.name}}</div>
          <div class="progress">{{achievement.completedValue.toString() != 'true' ? achievement.progress + '/' + achievement.completedValue : achievement.progress == true ? 'complete' : 'incomplete'}}</div>
        </div>
      </div>
    </div>
  </div>