<mat-toolbar style="font-size: 15px">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>{{ title }}</h1>
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>

<div id="body">
  <mat-nav-list>
    <mat-list-item
      *ngFor="let topic of (topics | async)"
      (click)="routeTo(topic)"
    >
      <img matListAvatar [src]="topic.imageUrl" alt="Compliancechimp" />
      <h2 matLine>{{ topic.name }}</h2>
      <p matLine>{{ topic.subpart }}</p>
      <button
        class="edit"
        mat-icon-button
        *ngIf="!topic.isGlobal || isDev"
        (click)="editTopic(topic); $event.stopPropagation()"
        matTooltip="Edit Topic"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
  <button
    mat-stroked-button
    [disabled]="!topics"
    color="primary"
    id="create-btn"
    (click)="createTopic()"
  >
    CREATE TOPIC
  </button>
</div>
