<mat-nav-list>
  <mat-list-item *ngFor="let topic of topics | async" (click)="routeTo(topic)">
    <img matListAvatar [src]="topic.imageUrl">
    <h2 matLine> {{topic.name}} </h2>
    <button class="edit" mat-icon-button *ngIf="!topic.isGlobal || isDev" (click)="editTopic(topic); $event.stopPropagation();"
      matTooltip="Edit Topic">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
<button mat-stroked-button [disabled]="!topics" color="primary" id="create-btn" (click)="createTopic()">
  CREATE TOPIC
</button>