mat-toolbar {
  font-size: 15px;
  position: absolute;
  background: white !important;
}

#body {
  margin-top: 64px;
  overflow: auto;
  height: calc(100vh - 64px);
}

.mat-list-avatar {
  border-radius: 2px !important;
  object-fit: cover;
}

#create-btn {
  margin: 24px 32px;
}

.edit {
  opacity: 0;
}

mat-list-item:hover .edit {
  opacity: 0.87;
}

p {
  color: #757575;
}
