<div class="window">
  <div id="layout">
    <div class="p">
      <span class="title">Train your birds</span>
      <div class="info">Create an account here</div>
    </div>
    <div id="side">
      <div class="card">
        <img id="header" src="/assets/pigeonLogo.png" alt="Gym Jumper" />
        <div class="error">{{ loginErrorStr }}</div>
        <div id="form">
          <mat-form-field>
            <input
              matInput
              (keyup.enter)="createAccount()"
              type="email"
              required
              placeholder="email"
              [(ngModel)]="email"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <span id="account" class="hide"
            >Already have an account? <a routerLink="/sign-in">Sign in</a></span
          >
          <button
            mat-raised-button
            color="accent"
            style="color: white"
            (click)="createAccount()"
          >
            CREATE ACCOUNT
          </button>
        </div>
      </div>
      <div class="card lock">
        <mat-icon id="lock">lock</mat-icon>
        <div id="secure">
          We secure your login information using
          <b>Google's highest standard oAuth 2.0</b> and secure your data in the
          cloud using Google Cloud Firestore
        </div>
      </div>
    </div>
  </div>
</div>
