<div class="screen">
  <div class="pt">Gym Jumper Terms of Service</div>
  Last updated: Oct 30, 2018
  <br>
  <br>Gymjumper, LLC ("us", "we", "our", or “Gym Jumper”) operates Gym Jumper, a web and mobile application (referred to as the App from here on out) which enables teams and organizations to achieve OSHA and other related compliance standards. This page sets forth our User Terms of Service, and Acceptable Use policy. By using the App, you agree to these policies.
  <br>
  <br><b>User Terms of Service</b>
  <br>These User Terms of Service (the “User Terms”) govern your access and use of the App. These terms are legally binding. Please read them carefully. 
  <br>
  <br>You agree to our Acceptable Use Policy, which is laid out in a separate section below. 
  <br>
  <br>You Must be Over the Age of Thirteen and you represent that you are over the age of thirteen. The App should not be used by anyone under the age of thirteen. 
  <br>
  <br>Limitation of Liability
  <br>If we believe that there is a violation of the User Terms or the Acceptable Use Policy, that can simply be remedied by you taking action, we will, in most cases, ask you to take action rather than intervene. We may directly step in and take what we determine to be appropriate action (including disabling your account) if you do not take appropriate action or we believe there is a credible risk of harm to us, other users, or the App. IN NO EVENT WILL YOU OR WE HAVE ANY LIABILITY TO THE OTHER FOR ANY LOST PROFITS OR REVENUES OR FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING DISCLAIMERS WILL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW AND DO NOT LIMIT EITHER PARTY’S RIGHT TO SEEK AND OBTAIN EQUITABLE RELIEF.
  <br>
  <br>Survival
  <br>The sections titled “The Relationship Between You, and Us,” “Limitation of Liability,” and “Survival,” and all of the provisions under the general heading “General Provisions” will survive any termination or expiration of the User Terms.
  <br><b>General Provisions</b>
  <br>
  <br>Email Notification
  <br>All notices under the User Terms will be by email. Notices to Gym Jumper should be sent to support@Gym Jumper.com. A notice will be deemed to have been duly given the day after it is sent.
  <br>
  <br>Privacy Policy
  <br>Please review our Privacy Policy for more information on how we collect and use data relating to the use and performance of our products.
  <br>
  <br>Modifications
  <br>As our business evolves, we may change these User Terms or the Acceptable Use Policy. If we make a material change to the User Terms or the Acceptable Use Policy, we will provide you with reasonable notice prior to the change taking effect by emailing the email address associated with your account. You can review the most current version of the User Terms at any time by visiting this page. Any material revisions to these User Terms will become effective on the date set forth in our notice, and all other changes will become effective on the date we publish the change. If you use the App after the effective date of any changes, that use will constitute your acceptance of the revised terms and conditions.
  <br>
  <br>Pricing
  <br>Although the service is free, we have to reserve the right to modify our pricing model over time, and to accommodate different pricing tiers based on team size, usage, or other factors.
  <br>
  <br>Training and Safety
  <br>We provide training content for your benefit. We may modify original training content provided by Government institutions or other sources, in an attempt to increase efficacy, but in not way are we liable for the success or failure of applied training in your specific work environment. It is up to you and your judgment to properly supplement and apply training and training materials to ensure the safety of your workers. 
  <br>
  <br>Waiver
  <br>No failure or delay by either party in exercising any right under the User Terms, including the Acceptable Use Policy, will constitute a waiver of that right. No waiver under the User Terms will be effective unless made in writing and signed by an authorized representative of the party being deemed to have granted the waiver.
  <br>
  <br>Severability
  <br>The User Terms, including the Acceptable Use Policy, will be enforced to the fullest extent permitted under applicable law. If any provision of the User Terms is held by a court of competent jurisdiction to be contrary to law, the provision will be modified by the court and interpreted so as best to accomplish the objectives of the original provision to the fullest extent permitted by law, and the remaining provisions of the User Terms will remain in effect.
  <br>
  <br>Assignment
  <br>You may not assign any of your rights or delegate your obligations under these User Terms, including the Acceptable Use Policy, whether by operation of law or otherwise, without the prior written consent of us (not to be unreasonably withheld). We may assign these User Terms in their entirety (including all terms and conditions incorporated herein by reference), without your consent, to a corporate affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all or substantially all of our assets.
  <br>
  <br>Governing Law; Venue; Waiver of Jury Trial; Fees
  <br>The User Terms, including the Acceptable Use Policy, and any disputes arising out of or related hereto, will be governed by the state of Utah. Each party hereby consents and submits to the exclusive jurisdiction of such courts. Each party also hereby waives any right to jury trial in connection with any action or litigation in any way arising out of or related to these User Terms, including the Acceptable Use Policy. In any action or proceeding to enforce rights under the User Terms, the prevailing party will be entitled to recover its reasonable costs and attorney’s fees.
  <br>
  <br>Entire Agreement
  <br>The User Terms, including any terms incorporated by reference into the User Terms, constitute the entire agreement between you and us and supersede all prior and contemporaneous agreements, proposals or representations, written or oral, concerning its subject matter. To the extent of any conflict or inconsistency between the provisions in these User Terms and any pages referenced in these User Terms, the terms of these User Terms will first prevail
  <br>
  <br><b>Acceptable Use Policy</b>
  <br>This Acceptable Use Policy sets out a list of acceptable and unacceptable conduct for our App. If we believe a violation of the policy is deliberate, repeated or presents a credible risk of harm to other users, our customers, the App or any third parties, we may suspend or terminate your access. This policy may change as we grows and evolve, so please check back regularly for updates and changes. You Agree to the Acceptable Use Policy, as follows: 
  <br>
  <br>Do:
  <br>•comply with all User Terms of Service, including the terms of these Rules of Acceptable Use;
  <br>•comply with all applicable laws and governmental regulations, including, but not limited to, all intellectual property, data, privacy, and export control laws, and regulations promulgated by any government agencies, including, but not limited to, the U.S. Securities and Exchange Commission, and any rules of any national and other securities exchanges;
  <br>•upload and disseminate only data which you own all required rights under law and under contractual and fiduciary relationships (such as proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements) and do so only consistent with applicable law;
  <br>•use commercially reasonable efforts to prevent unauthorized access to or use of the App;
  <br>•keep passwords and all other login information confidential;
  <br>•monitor and control all activity conducted through your account in connection with the App;
  <br>•promptly notify us if you become aware of or reasonably suspect any illegal or unauthorized activity or a security breach involving your account including any loss, theft, or unauthorized disclosure or use of a username, password, or account.
  <br>
  <br>Do Not:
  <br>•use the App to store or transmit any data that may infringe upon or misappropriate someone else's trademark, copyright, or other intellectual property, or that may be tortious or unlawful;
  <br>•upload to, or transmit from, the App any data, that contains or redirects to a virus, Trojan horse, worm, or other harmful component or a technology that unlawfully accesses or downloads content or information stored within the App or on the hardware of the App;
  <br>•attempt to reverse engineer, decompile, hack, disable, interfere with, disassemble, modify, copy, translate, or disrupt the features, functionality, integrity, or performance of the App (including any mechanism used to restrict or control the functionality of the App);
  <br>•attempt to gain unauthorized access to the App or related systems or networks or to defeat, avoid, bypass, remove, deactivate, or otherwise circumvent any software protection or monitoring mechanisms of the App;
  <br>•access the App in order to build a similar or competitive product or service or copy any ideas, features, functions, or graphics of the App;
  <br>•use the App in any manner that may harm minors or that interacts with or targets people under the age of thirteen;
  <br>•impersonate any person or entity, including, but not limited to, an employee of ours, an “Administrator”, an “Owner”, or any other Authorized User, or falsely state or otherwise misrepresent your affiliation with a person, organization or entity;
  <br>•use the App to provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization pursuant to section 219 of the Immigration and Nationality Act or other laws and regulations concerning national security, defense or terrorism;
  <br>•access, search, or create accounts for the App by any means other than our publicly supported interfaces (for example, "scraping" or creating accounts in bulk);
  <br>•send altered, deceptive or false source-identifying information, including "spoofing" or "phishing";
  <br>•sublicense, resell, timeshare or similarly exploit the App; or
  <br>•authorize, permit, enable, induce or encourage any third party to do any of the above.
  <br>
  <br>If you have any questions about our User Terms of Service, or our Acceptable Use Policy, please contact us:
  <br>
  <br>Primary Address
  <br>4595 S. Homestead Ct
  <br>Washington, UT 84780
  <br>
  <br>Email: support@Gym Jumper.com
</div>
<sign-up></sign-up>