<div class=" p v">
  <div class="question">
    How is Compliancechimp free when other solutions cost hundreds or more every
    month?
  </div>
  <div class="answer">
    Compliancechimp is indeed free. It’s not a gimmick. We make money by
    offering optional printed monthly and annual compliance histories for any
    business on the platform. These are physical printed records of all activity
    recorded in Compliancechimp. We call them Chimp Books. You can see at a
    glance, offline, all self-inspections, worksite logs, injury and near miss
    reports, employee surveys, and more. You can of course see this exact same
    information within the software, all the time. But it’s surprisingly nice to
    have a printed record which you can make available to employees (which is
    one of OSHA’s requirements), OSHA inspectors, higher ups in the company, and
    the like. It's a physical compliment to a digital solution. Monthly, these
    printed records cost $59 and you can set them up to arrive like clockwork.
    Or, get a single consolidated yearly record for $499. Or, just use the
    software for free forever!
  </div>
  <div class="question">Is there an annual contract?</div>
  <div class="answer">
    No, of course not. Use Compliancechimp as long as it is useful to you (which
    we hope is forever).
  </div>
  <div class="question">Is a credit card required?</div>
  <div class="answer">
    No. If you choose to purchase a printed compliance history (a Chimp Book),
    you'll enter payment details at that time. But otherwise, no payment
    information is ever required.
  </div>
  <div class="question">Can users login via desktop (web)? Or only Mobile?</div>
  <div class="answer">
    Worker features are all powered by our mobile app. Capturing worksite logs,
    accessing training, responding to surveys, reporting or investigating an
    injury or near miss, using the time tracking features, and all other worker
    features are part of the mobile app which is available for free from the
    iTunes or Google Play store. This puts the power of our software in the
    hands of every worker which is a game changer. Owners and admins are the
    only ones who access the back office via the web and that should be done on
    a desktop or laptop. The back office is powerful and is best experienced
    with the larger viewing area provided by desktop or laptop.
  </div>
  <div class="images">
    <a
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.betterspace.complianceChimp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
      ><img
        alt="Get it on Google Play"
        id="pstore-link"
        src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
    /></a>
    <a
      target="_blank"
      href="https://itunes.apple.com/us/app/compliancechimp/id1445077154?mt=8"
      style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-12-11&kind=iossoftware&bubble=apple_music) no-repeat;width:135px;height:47px;"
    ></a>
  </div>
  <div class="question">How many users can join?</div>
  <div class="answer">
    Any number. There’s always a single account owner, who can assign as many
    admins as they’d like, and then an unlimited number of users download the
    Compliancechimp app to gain access to all of the features and tools from
    their mobile phone. There's no limit to team size.
  </div>
  <div class="question">
    Is there a limit to the amount of pictures, logs, surveys, or
    self-inspections?
  </div>
  <div class="answer">No. Activity is unlimited for every feature.</div>
  <div class="question">What languages is Compliancechimp offered in?</div>
  <div class="answer">
    English, and Spanish is becoming more complete every day. If you see
    translation issues, or have language requests, please drop us a note at
    support@compliancechimp.com.
  </div>
  <div class="question">Can I cancel at any time?</div>
  <div class="answer">Of course. There are no contracts.</div>
  <div class="question">Can I see a demo or try this for free?</div>
  <div class="answer">
    Yes. You’re about 15 seconds away from seeing Compliancechimp for yourself.
    Just click “START FOR FREE” at the top of this page. Zero pressure. Zero
    hassle. No sales pitch because we have nothing to sell. Just clean access to
    your own Compliancechimp account, which we believe you’ll love.
  </div>
  <div class="question">What if I have questions?</div>
  <div class="answer">
    Ask away! We watch our support channel with zeal. Visit our support page and
    enter your question or comment in the box, or email us directly if you
    prefer at support@compliancechimp.com. You can also drop us a line at (800)
    317-9567.
  </div>
</div>
<div style="height: 48px" class="hide"></div>
