/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Nunito", "Roboto", "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop.ng-star-inserted.mat-drawer-shown {
    background-color: transparent;
}

.flex {
    flex: 1;
}

.fab {
    position: fixed !important;
    bottom: 48px;
    right: 24px;
    color: white !important;
    width: auto !important;
    border-radius: 30px !important;
    padding: 0px 12px !important;
}

.raise-fab {
    bottom: 88px;
}

.toolbar-logo {
    height: 46px;
}

.toolbar-expand-mobile {
    display: none !important;
    color: #666666;
}

.toolbar-title {
    font-family: 'co-headline';
    color: #757575;
    font-size: 21px;
    border-left: 2px solid rgba(0,0,0,.14);
    padding-left: 6px;
    padding-bottom: 6px;
    line-height: 17px;
}

button {
    border-radius: 20px !important;
}

mat-toolbar {
    background-color: #ffffff !important;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.1);
}

.window {
    height: calc(100vh - 62px);
    overflow: scroll;
    margin-top: 2px;
}

.hwindow {
    height: calc(100vh - 64px);
    overflow: scroll;
    background-color: #FFFFFF;
}

.active {
    transition: all 250ms;
    /*border-bottom: 2px solid #ff5252 !important;*/
    color: #ff5252 !important;
    background-color: rgba(0,0,0,.17) !important;
}

.bactive {
    transition: all 250ms;
    color: #ff5252 !important;
}

.general {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.36), 0 0 0 1px rgba(0,0,0,0.08);
    max-height: calc(100vh - 360px);
    overflow: hidden;
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;
}

.general-title {
    font-size: 17px;
    color: #666666;
    flex: 1;
}


agm-map {
    height: 40vh;
}

#search-box {
    display: flex;
    align-items: center;
    max-width: 40px;
    min-width: 40px;
    overflow: hidden;
    transition: all 250ms ease-in-out;
}

#search-box input {
    height: 28px;
    outline: none;
    border-radius: 20px;
    background: white;
    padding: 0 16px;
    font-size: 14px;
    line-height: 28px;
    margin-right: 12px;
    width: 240px;
}

.expand {
    max-width: 300px !important;
}

.toolbar-button {
    margin: 0 4px !important;
}

@media screen and (max-width: 785px) {
    .hwindow {
        height: calc(100vh - 56px);
    }
    .helper {
        left: 12px !important;
    }
    .toolbar-logo {
        display: none;
    }
    .toolbar-expand-mobile {
        display: block !important;
    }
    .fab {
        bottom: 12px !important;
        right: 12px !important;
    }
}
