/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }

.flex {
    flex: 1;
}

.fab {
    position: fixed !important;
    bottom: 24px;
    right: 24px;
    color: white !important;
}

mat-toolbar {
    background-color: #fafafa !important;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.1);
}

.window {
    height: calc(100vh - 64px);
    overflow: scroll;
}

.hwindow {
    height: calc(100vh - 64px);
    overflow: scroll;
    background-color: #2196f3;
}

.active {
    transition: all 250ms;
    /*border-bottom: 2px solid #ff9100 !important;*/
    color: #ff9100 !important;
    background-color: rgba(0,0,0,.17) !important;
}

.helper {
    position: fixed;
    z-index: 1000;
    bottom: 12px;
   left: 292px;
    border-radius: 24px;
    background-color: #ff9100;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.36), 0 0 0 1px rgba(0,0,0,0.08);
}

.helper-close {
    position: absolute !important;
    right: 8px;
    top: 8px;
    color: #ffffff !important;
}

.helper-name {
    font-size: 27px;
    color: #ffffff;
    margin-bottom: 12px;
    margin-right: 36px;
}

.helper-description {
    font-size: 15px;
    color: #ffffff;
    max-width: 380px;
}

.helper-input {
    width: 250px;
    color: white;
}

.helper-button {
    margin: 12px 12px 0 24px !important;
}

agm-map {
    height: 40vh;
}

#mat-search-icon {
    padding: 8px;
    background: #41535B;
    margin-right: -10px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #ffffff;
}