<mat-toolbar style="font-size: 15px">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>{{ title }}</h1>
  <div class="flex"></div>
  <div id="search-box" [class.expand]="searchVisible">
    <button mat-icon-button (click)="searchVisible = !searchVisible">
      <mat-icon>search</mat-icon>
    </button>
    <input [(ngModel)]="searchTerm" placeholder="Article" />
  </div>

  <button
    mat-icon-button
    style="margin-right: 12px;"
    matTooltip="Filter Results"
    (click)="openFiltersDialog()"
  >
    <mat-icon
      matBadge="!"
      [matBadgeHidden]="!complianceType"
      matBadgeSize="small"
      matBadgeColor="warn"
      >filter_list</mat-icon
    >
  </button>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>

<div class="window">
  <mat-nav-list>
    <mat-list-item
      *ngFor="
        let content of (myContent
          | async
          | myContentSearch: searchTerm:complianceType)
      "
      (click)="routeTo(content.articleId)"
    >
      <progress-indicator
        *ngIf="!content.disabled"
        [myContent]="content"
      ></progress-indicator>

      <button
        mat-icon-button
        class="heart"
        color="warn"
        (click)="favorite(content); $event.stopPropagation()"
      >
        <mat-icon
          matListIcon
          [ngStyle]="{ color: !content.disabled ? '#E91E63' : '#757575' }"
        >
          {{ !content.disabled ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
      <a matLine>{{ content.articleName }}</a>
    </mat-list-item>
  </mat-nav-list>
  <button
    mat-stroked-button
    [disabled]="!myContent"
    color="primary"
    id="create-btn"
    (click)="createArticle()"
  >
    CREATE ARTICLE
  </button>
</div>
