<mat-toolbar style="font-size: 15px">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>{{ title }}</h1>
  <div class="flex"></div>
  <button mat-icon-button style="margin-right: 12px;">
    <mat-icon>filter_list</mat-icon>
  </button>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>

<div id="body">
  <mat-nav-list>
    <mat-list-item
      *ngFor="let article of (articles | async)"
      (click)="routeTo(article)"
    >
      <progress-shield
        *ngIf="article.favorited"
        [myContent]="article.myContent"
      ></progress-shield>
      <button
        mat-icon-button
        class="heart"
        color="warn"
        (click)="favorite(article); $event.stopPropagation()"
      >
        <mat-icon
          matListIcon
          [ngStyle]="{ color: article.favorited ? '#E91E63' : '#757575' }"
        >
          {{ article.favorited ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
      <a matLine>{{ article.name }}</a>
    </mat-list-item>
  </mat-nav-list>
  <button
    mat-stroked-button
    [disabled]="!articles"
    color="primary"
    id="create-btn"
    (click)="createArticle()"
  >
    CREATE ARTICLE
  </button>
</div>
