mat-toolbar {
  font-size: 15px;
  position: absolute;
  background: white !important;
}

#body {
  margin-top: 64px;
  overflow: auto;
  height: calc(100vh - 64px);
}

progress-shield {
  margin: 0 12px;
}

#create-btn {
  margin: 24px 32px;
}
