mat-toolbar {
  font-size: 15px;
  background: white !important;
}

#editor {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

mat-spinner {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.global {
  color: #4caf50;
}
