<ng-container *ngIf="template">
  <h2 mat-dialog-title>{{ shift.id ? "Edit Shift" : "Create a New Shift" }}</h2>
  <mat-dialog-content>
    <div id="is-edit" *ngIf="shift.id; else: create">
      <span>{{ user?.name }}</span>
    </div>
    <ng-template #create>
      <mat-form-field appearance="standard">
        <mat-select placeholder="employee" [(ngModel)]="user">
          <mat-option *ngFor="let user of Users" [value]="user">
            {{ user.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>

    <div class="events-wrapper">
      <div class="row">
        <div class="cover-up" style="top: 0"></div>
        <div class="dot"></div>
        <span class="title">Shift Started</span>
        <mat-form-field appearance="standard" class="date">
          <input
            matInput
            readonly
            tabindex="-1"
            [(ngModel)]="shiftStarted.date"
            (dateChange)="parseTime()"
            (click)="startPicker.open()"
            (focus)="startPicker.open()"
            [matDatepicker]="startPicker"
            placeholder="choose a date"
          />
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100px;">
          <input
            matInput
            [(ngModel)]="shiftStarted.timeValue"
            placeholder="h:mm AM/PM"
            (keyup)="checkValidity(shiftStarted)"
          />
        </mat-form-field>
        <span *ngIf="!shiftStarted.valid" class="time-error"
          >Invalid time. ex. 5:00 am</span
        >
      </div>

      <div cdkDropList id="events" (cdkDropListDropped)="drop($event)">
        <button mat-button id="new-event" [matMenuTriggerFor]="menu">
          NEW EVENT
        </button>
        <div cdkDrag class="row event" *ngFor="let event of events">
          <div class="timeline-event">
            <button mat-icon-button matTooltip="Delete event">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <div class="e-dot upper"></div>
            <div class="e-dot lower"></div>
          </div>
          <div class="flexcol">
            <div class="item-row">
              <label>{{
                event.type == "break" ? "On Break" : "At Lunch"
              }}</label>
              <mat-form-field
                appearance="standard"
                class="date"
                *ngIf="DatesNotEqual"
              >
                <input
                  matInput
                  readonly
                  [min]="shiftStarted?.date"
                  [max]="MaxDate"
                  [(ngModel)]="event.outT.date"
                  (dateChange)="parseTime(event.outT)"
                  (click)="eventPicker.open()"
                  (focus)="eventPicker.open()"
                  [matDatepicker]="eventPicker"
                  placeholder="Choose a date"
                />
                <mat-datepicker #eventPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="standard">
                <input
                  matInput
                  [(ngModel)]="event.outT.timeValue"
                  placeholder="h:mm AM/PM"
                  (keyup)="checkValidity(event.outT)"
                />
              </mat-form-field>
              <span *ngIf="!event.outT.valid" class="time-error"
                >Invalid time. ex. 5:00 am</span
              >
            </div>
            <div class="item-row">
              <label>In</label>
              <mat-form-field
                appearance="standard"
                class="date"
                *ngIf="DatesNotEqual"
              >
                <input
                  matInput
                  readonly
                  [min]="shiftStarted?.date"
                  [max]="MaxDate"
                  [(ngModel)]="event.inT.date"
                  (dateChange)="parseTime(event.inT)"
                  (click)="eventPicker.open()"
                  (focus)="eventPicker.open()"
                  [matDatepicker]="eventPicker"
                  placeholder="choose a date"
                />
                <mat-datepicker #eventPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="standard">
                <input
                  matInput
                  [(ngModel)]="event.inT.timeValue"
                  placeholder="h:mm AM/PM"
                  (keyup)="checkValidity(event.inT)"
                />
              </mat-form-field>
              <span *ngIf="!event.inT.valid" class="time-error"
                >Invalid time. ex. 5:00 am</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="cover-up" style="bottom: 0"></div>
        <div class="dot" style="background: red"></div>
        <span class="title">Shift Ended</span>
        <mat-form-field appearance="standard" class="date">
          <input
            matInput
            readonly
            [min]="shiftStarted?.date"
            [max]="MaxDate"
            [(ngModel)]="shiftEnded.date"
            (dateChange)="parseTime()"
            (click)="endPicker.open()"
            (focus)="endPicker.open()"
            [matDatepicker]="endPicker"
            placeholder="choose a date"
          />
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100px;">
          <input
            matInput
            [(ngModel)]="shiftEnded.timeValue"
            placeholder="h:mm AM/PM"
            (keyup)="shiftEnded.valid = checkValidity(shiftEnded)"
          />
        </mat-form-field>
        <span *ngIf="!shiftEnded.valid" class="time-error"
          >Invalid time. ex. 5:00 am</span
        >
      </div>
    </div>
  </mat-dialog-content>
  <span class="error">{{ error }}</span>
  <mat-dialog-actions align="end">
    <button
      mat-icon-button
      *ngIf="shift.id"
      class="delete"
      (click)="deleteShift()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <div class="flex"></div>
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button color="accent" (click)="save()">
      {{ shift?.id ? "SAVE" : "CREATE" }}
    </button>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </mat-dialog-actions>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="newEvent('lunch')">Out for lunch</button>
    <button mat-menu-item (click)="newEvent('break')">Out for break</button>
  </mat-menu>
</ng-container>
