.block {
  position: relative;
}

.split-block {
  display: flex;
  align-items: center;
}

.dark {
  background-color: #f5f5f5;
}

.top {
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 100%;
  display: block;
}

.top-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.tb-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.top-content {
  display: block;
  position: absolute;
  height: 100%;
  width: calc(100% - 16px);
  padding: 8px;
  text-align: center;
}

.header {
  display: block;
  font-size: 3.124rem;
  font-weight: 700;
  line-height: 1.123;
  margin: 12% 0;
}

.info {
  font-size: 1.25rem;
  font-weight: 700;
}

.action-button {
  margin: 40px 0;
  min-width: 150px;
}

.banner {
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -.8px;
  font-size: 2rem;
  margin: 1rem 8px;
  text-align: center;
}

.b-info {
  margin: 1rem 8px;
  text-align: center;
}

img.b-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#p-block {
  border-top: 5px solid #f44336;
  background-color: #ffffff;
  padding: 12px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 55%;
  margin: 20px auto;
  box-shadow: 3px 2px 2rem rgba(0,0,0,0.1);
}

#get-started {
  align-self: normal;
}

.p-title {
  font-size: 18px;
  font-weight: 900;
}

#p-price {
  font-size: 32px;
  margin: 24px 0;
}

.p-info {
  font-size: 14px;
  display: flex;
  margin-top: 24px;
  text-align: start;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: transparent;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.side {
  flex: 1;
  overflow: hidden;
  margin: 24px;
  text-align: center;
}

@media screen and (max-width: 785px) {
  .header {
    font-size: 2.8rem;
  }
  .action-button {
    width: 100%;
  }
  .top-content {
    text-align: left;
  }
  .banner {
    text-align: left;
    font-size: 1.725rem;
  }
  .split-block {
    flex-direction: column;
  }
  .b-info {
    text-align: left;
  }
  #p-block {
    max-width: 80%;
  }
  
  
}


