<div id="header-img">
  <img id="h-img" src="/assets/gymarrow.png">
  <div id="header-box">
    <div id="header-text">A workout membership as motivated as you are</div>
    <div id="header-info">A refreshing approach to those nasty gym memberships. One simple pass that will get you into multiple gyms in your community.
      No more having to choose one gym and being trapped in contracts. This is the last gym membership you will ever want, guaranteed.</div>
    </div>
  </div>
  <div id="app-banner" class="banner">
    <a target="_blank" style="margin-right: 10%;" href=""><img
      alt="Get it on Google Play"
      id="pstore-link"
      src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
  /></a>
  <a
    target="_blank"
    href=""
    style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-12-11&kind=iossoftware&bubble=apple_music) no-repeat;width:135px;height:47px;"
  ></a>
</div>
<div class="banner">Jump into any of these locations</div>
<div class="slider">
  <div class="slide-track">
    <div class="slide" *ngFor="let gym of gyms">
      <img src={{gym.logoUrl}} height="100" width="250" style="object-fit:contain" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
    </div>
  </div>
</div>
<div class="banner" style="margin-bottom: 48px;">
  <button mat-stroked-button>FIND A GYM NEAR ME</button>
</div>
<div class="block">
  <div class="side">
    <div class="b-header">Your phone is the pass</div>
    <div class="b-info">Use the app to find near-by gyms, gain access, track your history and more.</div>
  </div>
  <div class="side">
    <img class="b-img" src="/assets/flag.png">
  </div>
</div>
<div class="block">
  <div class="side">
    <div id="price-block">
      $99/mo
    </div>
  </div>
  <div class="side">
    <div class="b-header">Straightforward pricing</div>
    <div class="b-info">We hated getting locked into memberships. Even worse, writing letters and paying fees just to leave. 
      Just pay one monthly flat rate. Free cancelations. No questions asked. 
    </div>
  </div>
</div>