<div id="header-img">
  <img id="h-img" src="/assets/gymarrow.png">
  <div id="header-box">
    <div id="header-text">A workout membership<br> as motivated as you are</div>
    <div id="header-info">A refreshing approach to those nasty gym memberships. One simple pass that will get you into multiple gyms in your community.
      No more having to choose one gym and being trapped in contracts. This is the last gym membership you will ever want, guaranteed.</div>
    </div>
  </div>
<div class="banner">Jump into any of these locations</div>
<div class="slider">
  <div class="slide-track">
    <div class="slide" *ngFor="let gym of gyms">
      <img src={{gym.logoUrl}} height="100" width="250" style="object-fit:contain" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
    </div>
  </div>
</div>
<div class="banner" style="margin-bottom: 48px;">
  <button mat-raised-button [routerLink]="'/find-a-gym'" color="accent">FIND A GYM NEAR ME</button>
</div>
<div class="block dark">
  <div class="side">
    <div class="b-header">Small but Mighty</div>
    <div class="b-info">Your membership comes with a tag that gives you access to any of our partnering gyms. Throw it on your keys or keep it in your wallet, your tag is the key.</div>
  </div>
  <div class="side">
    <img class="b-img" src="/assets/tileClear.png">
  </div>
</div>
<div class="block">
  <div class="side">
    <div id="p-block">
      <div class="p-title">Premier Pass</div>
      <div id="p-price">$99/mo</div>
      <button mat-raised-button id="get-started" [routerLink]="'/sign-up'" color="primary">GET STARTED</button>
      <div class="p-info"><mat-icon>check</mat-icon>No fine print here. This is the best gym pass there is. Some gyms may have time or visit restrictions where applicable.</div>
    </div>
  </div>
  <div class="side">
    <div class="b-header">Straightforward pricing</div>
    <div class="b-info">We hated getting locked into memberships. Even worse, writing letters and paying fees just to leave. 
      Just pay one monthly flat rate. Free cancelations. No questions asked. 
    </div>
  </div>
</div>