#header-img {
  height: 80vh;
  overflow: hidden;
  position: relative;
}

#h-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#header-box {
  position: absolute;
  top: 45%;
  padding: 0 20vw;
  margin: auto;
  text-align: center;
  background-color: rgba(0,0,0,.43);
  color: #ffffff;
}

#header-text {
  font-size: 2.4rem;
  padding-bottom: 12px;
}

#header-info {
  opacity: .54;
  font-size: 1.2rem;
}

.images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
}

.mobile-link {
  height: 45px;
  margin: 0 6px;
}

#pstore-link {
  height: 60px;
  margin: 0 6px;
}

.banner {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  margin: 12px 24px;
}

#app-banner {
  padding-top: 8px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: transparent;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.block {
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.side {
  flex: 1;
  overflow: hidden;
  margin: 24px;
  text-align: center;
}

.b-header {
  font-size: 3.12rem;
  font-weight: 700;
  letter-spacing: -.8px;
}

.b-info {
  width: 80%;
  padding-top: 12px;
  margin: auto;
}

img.b-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#p-block {
  border-top: 5px solid #f44336;
  background-color: #ffffff;
  padding: 12px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 55%;
  margin: 20px auto;
  box-shadow: 3px 2px 2rem rgba(0,0,0,0.1);
}

#get-started {
  align-self: normal;
}

.p-title {
  font-size: 18px;
  font-weight: 900;
}

#p-price {
  font-size: 32px;
  margin: 24px 0;
}

.p-info {
  font-size: 14px;
  display: flex;
  margin-top: 24px;
  text-align: start;
}

.dark {
  background-color: #f5f5f5;
}