
  <div class="p">
    <span class="title">The app that's got your back</span>
    <div class="info">For teams in the construction and service industry, Minute harnesses the power of mobile
      to seamlessly capture worksite logs, safety training, OSHA safety compliance, and time and location tracking in one place,
      at a very low price. Your business is valuable. Protect it with Minute.
    </div>
  </div>
  <div id="home-head"><img id="home-head-img" src="/assets/home/head.png"></div>
  <div class="p" id="p2">
    <span class="title">Less noise. Less risk.</span>
    <div class="info">By capturing and delivering important daily information, Minute enables compliance, mitigates litigation risk, 
      and reduces administrative noise so you can focus on growing your business. Employee time and location are also trackable, 
      making payroll fast and easy along the way. It really is the app that’s got your back, and you can try it for free 
      (we won’t even ask for a credit card).
    </div>
    <div id="p2-row">
      <div class="row-item">
        <img class="row-img" src="/assets/home/survey.png">
        <span class="row-title">Safety Surveys & Self Assessment</span>
        <div class="row-info">OSHA means business, Minute establishes team participation in safety, and transforms the worry of compliance 
          into a strength you can be confident in.</div>
        </div>
        <div class="row-item">
          <img class="row-img" src="/assets/home/log.png">
          <span class="row-title">Worksite Logs</span>
          <div class="row-info">Worksite logs are foundational to protecting your business in the event of litigation or audits. The Minute app makes
            logging a breeze so it can be implemented team wide.
          </div>
        </div>
        <div class="row-item">
          <img class="row-img" src="/assets/home/calendar.png">
          <span class="row-title">Time Clock</span>
          <div class="row-info">Clock in and out from your mobile phone. Forget tracking time on paper or attempting to remember hours in the past.
            Save time every month by using the time feature.
          </div>
        </div>
        <div class="row-item">
          <img class="row-img" src="/assets/home/map.png">
          <span class="row-title">Who's Working</span>
          <div class="row-info">Our real time dashboard shows who is working, along with their location. Minute makes it easier for teams to stay 
            in the know, stay in touch, and operate more efficiently.
          </div>
        </div>
      </div>
    </div>
    <div class="p" id="p3">
      <span class="title">Learn about Minute</span>
      
    </div>
    <div class="p">
      <span class="title">Start using Minute today - your happiness is guaranteed.</span>
      <div class="info">We have your back, and you have our guarantee. If you aren’t delighted with Minute, you can end the service at any time 
        and we’ll even refund your current month.
      </div>
      <button mat-raised-button color="accent" id="start-button">START FOR FREE</button>
    </div>
