mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    width: 280px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    transition: all 250ms;
    margin-right: 24px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-weight: 500;
}

a:hover {
    background-color: #ff9100;
    background-color: rgba(0,0,0,.17) !important;
}

#header {
    height: 64px;
    display: flex;
    color: #ffffff;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    background-color: #1e88e5;
    cursor: pointer;
}

#header:hover {    
    background-color: #1871BF !important;

}

#content {
    flex: 1;
    background-color: #1e88e5;
}

.mat-list-item {
    color: #ffffff;
}

#name {
    font-size: 18px;
    margin-right: 8px;
}

#footer {
    padding: 12px;
    font-size: 24px;
    background-color: #1e88e5;
    /*border-top: 1px solid rgba(0,0,0,.14);*/
    color: white;
    display: flex;
}

#mlogo {
    height: 32px;
}

.fi {
    height: 32px;
    width: 32px;
    font-size: 32px;
    margin: 0 8px;
    cursor: pointer;
}


.mat-dialog-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
  
  #d-content {
    padding-bottom: 24px;
  }

  .team {
      cursor: pointer;
      padding: 12px;
  }

  .active {
    color: #ff9100 !important;
    background-color: rgba(0,0,0,.17) !important;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-right: 24px;
}

.account-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.account-popup {
    position: absolute;
    top: 62px;
    background-color: #ffffff;
    left: 12px;
    min-width: 260px;
    height: 350px;
    z-index: 21;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.14);
}

.row {
    margin-bottom: 12px;
}

#popimage {
    height: 48px;
    object-fit: contain;
}

#popteamname {
    font-size: 17px;
    font-weight: 500;
    opacity: .87;
}

#popteam {
    margin: 4px 0;
    font-size: 15px;
    opacity: .67;
    font-weight: 500;
}

.teams {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.otherteams {
    height: 24px;
    margin: 4px;
}