<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div id="header" (click)="bShowAccountInfo = true">
      <div id="name">{{accountService.aTeam?.name}}</div>
      <mat-icon>expand_more</mat-icon>
    </div>
    <div id="content">
      <mat-list>
        <a mat-list-item routerLink="dashboard" routerLinkActive="active">Team</a>
        <a mat-list-item routerLink="time" routerLinkActive="active">Time</a>
        <a mat-list-item routerLink="log" routerLinkActive="active">Log</a>
        <a mat-list-item routerLink="event" routerLinkActive="active">Events</a>
        <a mat-list-item routerLink="survey" routerLinkActive="active">Surveys</a>
        <a mat-list-item routerLink="incident-reports" routerLinkActive="active">Incident Reports</a>
        <a mat-list-item routerLink="assesment" routerLinkActive="active">OSHA Safety Assesment</a>
        <a mat-list-item routerLink="account" routerLinkActive="active">Account</a>
        <a mat-list-item routerLink="training" routerLinkActive="active">Training</a>
      </mat-list>
    </div>
    <div id="footer">
      <img id="mlogo" src="/assets/ccLogo.png">
      <div class="flex"></div>
      <mat-icon class="fi" (click)="accountService.showHelper = false; accountService.showFeedback = true">feedback</mat-icon>
      <mat-icon color="accent" class="fi" (click)="accountService.showFeedback = false; accountService.showHelper = true">help_outline</mat-icon>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- ***** HELPER ***** -->
    <div class="helper" *ngIf="accountService.showHelper" [@helper]>
      <button mat-icon-button class="helper-close" (click)="closeHelper()">
        <mat-icon>cancel</mat-icon>
      </button>
      <div class="helper-name">{{accountService.helper?.name}}</div>
      <div class="helper-description">{{accountService.helper?.description}}</div>
    </div>
    <div class="helper" *ngIf="accountService.showFeedback" [@helper]>
      <button mat-icon-button class="helper-close" (click)="accountService.showFeedback = false">
        <mat-icon>cancel</mat-icon>
      </button>
      <div class="helper-name">{{accountService.feedback?.name}}</div>
      <mat-form-field class="helper-input" color="warn"><textarea matInput placeholder="help minute work harder for you"
          [(ngModel)]="accountService.feedback.description"></textarea></mat-form-field>
      <button mat-stroked-button class="helper-button" color="warn" (click)="submitFeedback()">SUBMIT</button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="account-popup-overlay" *ngIf="Info" (click)="bShowAccountInfo = false"></div>
<div class="account-popup" *ngIf="bShowAccountInfo">
  <div class="row">
    <div class="teams">
      <img id="popimage" src={{accountService.aTeam.logoUrl}} onError="src = '/assets/ccLogo.png'">
      <div class="flex"></div>
      <ng-container *ngFor="let team of accountService.userTeams">
        <img *ngIf="team.id !== accountService.aTeam.id"  [matTooltip]="team.name" (click)="bShowAccountInfo = false; accountService.setActiveTeam(team.id)" class="otherteams" src={{team.logoUrl}} onerror="src = '/assets/ccLogo.png'">
      </ng-container>
    </div>
    <div id="popteamname">{{accountService.aTeam.name}}</div>
  </div>
  <div id="popteam">{{accountService.teamUsers.length}} team members</div>
  <div id="popteam">member since {{accountService.aTeam.createdAt | date:'shortDate'}}</div>
</div>
<div class="account-popup-overlay" *ngIf="accountService.bShowProfile" (click)="accountService.bShowProfile = false"></div>
<div class="profile-popup" *ngIf="accountService.bShowProfile">
  <div class="pr">
    <img id="pi" src={{accountService.user.profileUrl}} onerror="src = '/assets/face.png'" alt="profile">
    <div class="col">
      <div id="pn">{{accountService.user.name}}</div>
      <div id="pe">{{accountService.user.email}}</div>
      <button mat-button color="accent" (click)="accountService.bShowProfile = false" routerLink="account">ACCOUNT</button>
      <button mat-stroked-button style="margin-left: 4px" (click)="accountService.logout()" color="accent">SIGN OUT</button>
    </div>
  </div>
</div>