<h2 mat-dialog-title style="font-size: 36px !important;">This team has been Deavtivated</h2>
<mat-dialog-content>
  You have {{count}} days to reactivate this team before it is purged from our system.
  <div class="cteams" *ngIf="data.teams.length > 0">
    <div id="sia">or sign in as another team</div>
    <div class="cteam" *ngFor="let team of data.teams" (click)="close(false, team.id)" matTooltip={{team.name}}><img class="timage" src={{team.logoUrl}} onerror="src = '/assets/ccLogoDark.png'"></div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="close(false)">LEAVE</button>
  <button mat-raised-button color="accent" style="color: #ffffff" [disabled]="!data.isOwner" (click)="close(true)">REACTIVATE</button>
</mat-dialog-actions>