<h2 mat-dialog-title>{{data.id ? 'Edit Timeclock' : 'Create a New Timeclock'}} for {{data.clockIn | date: 'shortDate'}}</h2>
<mat-dialog-content>
  <div class="group">
    <div class="label">Team Member</div>
    <mat-form-field class="teammember">
      <mat-select [(value)]="data.userId">
        <mat-option *ngFor="let user of accountService.teamUsers" value={{user.id}}>{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="group">
    <div class="label">Clock-In</div>
    <div class="time-row">
      <mat-form-field class="hour">
        <mat-select [(value)]="clockInHour">
          <mat-option *ngFor="let hour of hours" value={{hour.value}}>{{hour.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="c">&nbsp;:&nbsp;</div>
      <mat-form-field class="minute">
        <mat-select [(value)]="clockInMinute">
          <mat-option *ngFor="let minute of minutes" value={{minute}}>{{minute}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="label">Clock-Out</div>
    <div class="time-row">
      <mat-form-field class="hour">
        <mat-select [(value)]="clockOutHour">
          <mat-option *ngFor="let hour of hours" value={{hour.value}}>{{hour.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="c">&nbsp;:&nbsp;</div>
      <mat-form-field class="minute">
        <mat-select [(value)]="clockOutMinute">
          <mat-option *ngFor="let minute of minutes" value={{minute}}>{{minute}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-icon-button *ngIf="data.id" class="delete" (click)="delete()"><mat-icon>delete</mat-icon></button>
    <div class="flex"></div>
    <button mat-button color="accent" (click)="close()">CANCEL</button>
    <button mat-button color="accent" (click)="close(data)">SAVE</button>
  </mat-dialog-actions>