<mat-toolbar>Time
  <div class="flex"></div>
  <div id="search-box" [class.expand]="searchVisible">
    <button mat-icon-button (click)="searchVisible = !searchVisible">
      <mat-icon>search</mat-icon>
    </button>
    <input [(ngModel)]="searchStr" placeholder="Category | Question" />
    </div>
    <button
    mat-icon-button
    style="margin-right: 12px;"
    (click)="filterByPeople()"
    matTooltip="Filter by people"
    [matBadge]="filterUsers.length"
    [matBadgeHidden]="!filterUsers.length"
    matBadgeSize="small"
    >
    <mat-icon>filter_list</mat-icon>
  </button>
  <button class="toolbar-button" (click)="exportCSV()" mat-button>EXPORT</button>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
  <div class="window" id="window" (scroll)="onScroll($event)">
    <div id="body">
      <div class="month">{{now}}</div>
      <ng-container *ngFor="let day of days | search: searchStr : filterUsers; index as i">
        <div class="day-box">
          <div class="day" (click)="aDay ? aDay = null : aDay = day.id">
            <div class="date box" (click)="createEditTime(day)">
              <div class="date" matTooltip="Add time" matTooltipPosition="right" matTooltipShowDelay="600" [ngClass]="{'small': day.timeLogs.length == 0}">{{day.day}}</div>
              <div class="dow" [ngClass]="{'hide': day.timeLogs.length == 0}">{{day.dOW}}</div>
            </div>
            <div class="row">
              <div class="event" *ngFor="let log of day.timeLogs">
                <div class="block" (click)="log.bShowDetails == true ? log.bShowDetails = false : log.bShowDetails = true">
                  <div class="type">{{log.user?.name}} -&nbsp;</div>
                  <div class="title">{{getDiff(log)}}</div>
                </div>
                <div class="details" [@expand] *ngIf="log.bShowDetails">
                  <div class="time-detail">
                    <div class="time-item"><mat-icon>hourglass_empty</mat-icon>{{log.clockIn | date: 'h:mm a'}}</div>
                    <div class="time-item" *ngIf="log.clockOut"><mat-icon>hourglass_full</mat-icon>{{log.clockOut | date: 'h:mm a'}}</div>
                    <div class="time-item" *ngIf="log.clockOut"><mat-icon>access_time</mat-icon>{{getDiff(log)}}</div>
                  </div>
                  <div class="info">
                    <mat-icon (click)="createEditTime(day, log)" class="edit">edit</mat-icon>
                    <div class="last-changed" *ngIf="log.updatedAt">changed by {{log.updatedBy}} {{log.updatedAt | date: 'short'}}</div>
                    <div class="flex"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="month" *ngIf="day.day == 1">{{days[i + 1]?.month}}</div>
      </ng-container>
    </div>
  </div>