.filter {
  margin: 0 24px;
}

.day-box {
  margin: 0 12px;
  /*border-bottom: 1px solid rgba(0,0,0,.14);*/
}

.day {
  display: flex;
  align-items: flex-start;
  padding: 4px 24px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100px;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.event {
  margin: 4px 0;
  background-color: #cfd8dc;
  border-radius: 8px;
  padding: 8px;
  transition: all 250ms;
}

.block {
  display: flex;
  cursor: pointer;
}

.type {
  font-weight: 600;
  opacity: .87;
}

.title {
  opacity: .78;
}

.date {
  font-size: 32px;
  color: #212121;
  cursor: pointer;
}

.dow {
  font-size: 15px;
  color: #666666;
  margin-top: -8px;
}

.month {
  margin: 24px;
  font-size: 24px;
  color: #666666;
  font-weight: 500;
}

.details {
  overflow: hidden;
}

.time-detail {
  display: flex;
  margin: 8px 0;
  opacity: .87;
  user-select: none;
}

.time-item {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

.small {
  font-size: 17px !important;
  opacity: .54;
}

.hide {
  display: none;
}

.info {
  display: flex;
  align-items: flex-end;
  padding: 4px;
}

.createdAt {
  font-size: 13px;
  font-weight: 700;
  opacity: .67;
}

.last-changed {
  margin-left: 4px;
  font-size: 13px;
  opacity: .67;
}

.edit {
  opacity: .67;
  cursor: pointer;
}

mat-dialog-content {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.label {
  font-size: 13px;
  opacity: .87;
  font-weight: 600;
}

.time-row {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.hour {
  width: 100px;
  margin-right: 8px;
}

.minute {
  width: 60px;
  margin-left: 8px;
}

.delete {
  color: #666666;
  opacity: .5;
}