.window {
    background-color: #f5f5f5;
    position: relative;
}
.level {
    display: flex;
    justify-content: center;
}
.card {
    flex: 2;
    margin: 24px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
}
.card-title {
    width: 100%;
    font-weight: 600;
    opacity: .87;
    display: flex;
    justify-content: space-between;
}
.checkpoint {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    width: calc(50% - 48px);
    font-size: 15px;
    color: #666666;
    font-weight: 600;
    filter: grayscale(80%);
    cursor: pointer;
    transition: all 250ms;
    text-align: center;
}
.color {
    filter: grayscale(0%);
}
.badge:hover {
    filter: grayscale(0%);
}
.badge:nth-child(3n){
    width: 100%;
}
.badge-img {
    position: relative;
    height: 100px;
    margin-bottom: 8px;
}
.badge-image {
    height: 100%;
}
.fill {
    height: 50px;
    width: 100%;
    margin: 24px;
}
.fillbar {
    height: 24px;
    margin: auto;
    width: 40%;
    background-color: #a9a9a9;
    border-radius: 12px;
    box-sizing: border-box;
    position: relative;
}
.filltext {
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 12;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    user-select: none;
}
.fillcolor {
    transition: all 500ms 500ms;
    height: 100%;
    background-color: #ffd740;
    border-radius: 12px;
    position: absolute;
    top: 0;
}

.stats {
    width: 400px;
}

.info {
    font-size: 17px;
    opacity: .87;
    font-weight: 400;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 24px;
    padding: 24px;
    align-self: flex-start;
}

.rank {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r-img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-img {
    height: 150px;
    padding: 12px;
}

.r-center {
    justify-content: center;
}

.r-level {
    font-size: 32px;
    margin-top: 12px;
    color: #473080;
}

.r-count {
    position: absolute;
    font-size: 32px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 14px;
}









.side {
    flex: 1;
}

.scroll {
    overflow: scroll;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 12px 24px;
    font-size: 32px;
    font-weight: 600;
}


#h-progress {
    opacity: .87;
    font-style: italic;
    margin-right: 24px;
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement {
    position: relative;
    margin: 12px;
    padding: 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    filter: grayscale(90%);
    opacity: .8;
    cursor: pointer;
    transition: all 250ms;
    min-width: calc(50vw - 250px);
}

.achievement:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.complete {
    filter: grayscale(0%);
    opacity: 1;
}

.trophy {
    z-index: 1;
    height: 56px;
}

.box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    flex: 1;
    min-width: 300px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.cat {
    font-size: 13px;
    font-weight: 500;
}

.name {
    font-size: 17px;
    opacity: .87;
    max-width: 300px;
}

.progress {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    opacity: .87;
    letter-spacing: 1.5px;
}











