<mat-toolbar>
  <img class="toolbar-logo" src="/assets/ccLogoDark.png">
  <div class="toolbar-title">Badges</div>
  <div class="flex"></div>
  <toolbar-helper></toolbar-helper>
</mat-toolbar>
<div class="window">
  <div class="scroll">
    <div id="badges">
      <div class="row">
        <div id="title">Badges</div>
        <div id="h-progress">{{completedCount}}/{{achievements?.length}}</div>
      </div>
      <ng-container *ngFor="let ordering of orderings; index as i">
        <ng-container *ngFor="let badge of achievements">
          <div class="badge" *ngIf="badge.ordering == i" [ngClass]="{'color': badge.fill > 0}">
            <div class="badge-img">
                <mat-progress-spinner style="position:absolute" color="accent" mode="determinate" [value]="badge.fill" strokeWidth="6"></mat-progress-spinner>
              <img class="badge-image" [src]="'/assets/achievements/' + badge.category + '.png'" alt="Compliancechimp">
            </div>
            {{badge.name}}
          </div>
        </ng-container>
        <div class="fill"><div class="fillbar"><div class="filltext">Checkpoint Progress</div><div class="fillcolor" [ngStyle]="{'width':ordering.completedPercent}"></div></div></div>
      </ng-container>
    </div>
  </div>
  <div class="info">
    <div id="info">Level</div>
    <div id="info">Completing achievements will put you on the path to using Compliancechimp to its potential, and help you understand the value it can bring to your business.</div>
  </div>
  
</div>