.side {
    flex: 1;
}

.scroll {
    overflow: scroll;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 12px 24px;
    font-size: 32px;
    font-weight: 600;
}

#info {
    margin: 8px 24px 48px;
    font-size: 17px;
    opacity: .87;
    font-weight: 400;
}

#h-progress {
    opacity: .87;
    font-style: italic;
    margin-right: 24px;
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement {
    position: relative;
    margin: 12px;
    padding: 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    filter: grayscale(90%);
    opacity: .8;
    cursor: pointer;
    transition: all 250ms;
    min-width: calc(50vw - 250px);
}

.fill {
    height: 10%;
    width: 0px;
    transition: all 600ms;
    position: absolute;
    background-color: #BBDEFB;
    margin-left: -10px;
    border-radius: 5px;
    bottom: -2px;
}

.achievement:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.complete {
    filter: grayscale(0%);
    opacity: 1;
}

.trophy {
    z-index: 1;
    height: 56px;
}

.box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    flex: 1;
    min-width: 300px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.cat {
    font-size: 13px;
    font-weight: 500;
}

.name {
    font-size: 17px;
    opacity: .87;
    max-width: 300px;
}

.progress {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    opacity: .87;
    letter-spacing: 1.5px;
}











