<div class="full">
  
  <div id="top">
    <mat-form-field>
      <input matInput type="text" placeholder="collection name" [(ngModel)]="collection" (blur)="get()">
    </mat-form-field>
  </div>
  <div id="bottom">
    <div class="side">
      <div class="list">
        <div class="list-item" *ngFor="let item of list" (click)="listId = item.id">
          {{item.subject}}
          <div *ngIf="item.id == listId">
            <div class="content" [innerHTML]="item?.content | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="side" style="flex:2">
      <div class="row">
        <mat-label style="margin-right:24px">Subject</mat-label>
        <mat-form-field>
          <input matInput type="text" placeholder="name" [(ngModel)]="newDoc.subject">
        </mat-form-field>
      </div>
      <angular-editor [(ngModel)]="newDoc.content"></angular-editor>
      <div class="row end">
        <button mat-raised-button color="primary" (click)="push()">PUSH TO {{collection}}</button>
      </div>
      
      
    </div>
  </div>
</div>