<div id="top">
  <mat-form-field>
    <input matInput type="text" placeholder="collection name" [(ngModel)]="collection" (blur)="get()">
  </mat-form-field>
  <div class="row">
    <span>ATTACH A PARENT</span>
    <mat-form-field>
        <mat-select placeholder="parent">
          <mat-option *ngFor="let item of parentList" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>
<div id="bottom">
  <div class="side">
    <div class="list">
      <div class="list-item" *ngFor="let item of list">{{item.name}}</div>
    </div>
  </div>
  <div class="side">
    <div class="row">
      <mat-label>NAME</mat-label>
      <mat-form-field>
        <input matInput type="text" placeholder="field name" [(ngModel)]="fieldName1">
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button color="primary" (click)="push()">PUSH TO {{collection}}</button>
    </div>
    
    
  </div>
</div>