mat-card {
  border-radius: 12px;
  padding: 48px 64px 24px;
  max-width: 400px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

img {
  border-radius: 4px !important;
}

.progress {
  position: absolute;
  top: -14px;
  width: 130px;
  background: #009688;
  color: white;
  border-radius: 16px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  left: 50%;
  transform: translateX(-50%);
}
